<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <title>
      Bootstrap, from Twitter
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Le styles -->
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
  </head>
  
  <body>
    <!-- /container -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
    </script>
    <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js">
    </script>
    <div class="container" id="title">
      <h1 class="text-center">
        EEB Hub Simulation Platform
      </h1>
    </div>
    <div class="container" id="vision">
      <h5 class="text-center">
        Sponsored by the U.S. Department of Energy
      </h5>
      <h4 class="text-center">
        February 2013 - January 2014
      </h4>
      <h6 class="text-center">
        one unified front-end building energy modeling interface |&nbsp;
        <span style="color: inherit; font-family: inherit; font-size: 11.9px;">available to 1000+ people online |&nbsp;</span>
        <span style="color: inherit; font-family: inherit; font-size: 11.9px;">embedded knowledge of building experts</span>
      </h6>
    </div>
    <hr>
    <div class="container pagination-center text-center" id="team">
      <h2>
        13 organizations &amp; 53 people
      </h2>
      <h6 class="text-center">
        <span style="font-weight: normal;">
    from
  </span>
      </h6>
      <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
      <div class="container pagination-centered">
      </div>
    </div>
    <div class="container pagination-center text-center" id="integration">
      <h3>
        set out to integrate into 10+ software packages
      </h3>
      <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
      <div class="container pagination-centered">
      </div>
    </div>
    <div class="container pagination-center text-center" id="infrastructure">
      <h3 class="text-center">
        into 1 web platform
      </h3>
      <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
      <div class="container pagination-centered">
      </div>
      <h5>
        built on 4 Dell Servers, VMware private cloud, &amp; 20 virtual machines
      </h5>
    </div>
    <hr>
    <div class="container pagination-center text-center" id="tools">
      <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
      <h2>
        4 web tools - 4 levels of complexity
      </h2>
      <div class="container pagination-centered">
      </div>
      <div class="row-fluid">
        <div class="span3">
          <h3>
            Lite
          </h3>
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png"
          width="">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
        </div>
        <div class="span3">
          <h3>
            Partial
          </h3>
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
        </div>
        <div class="span3">
          <h3>
            Substantial
          </h3>
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
        </div>
        <div class="span3">
          <h3>
            Comprehensive
          </h3>
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
        </div>
      </div>
      <h3>
        exposing 8 engines E, 3 mockups M, 5 external resources R,
        <div>
          and 1 retrofit game, all at...
          <div>
          </div>
        </div>
      </h3>
    </div>
    <div class="container pagination-center text-center" id="features">
      <h1>
        tools.eebhub.org
      </h1>
      <h4>
        web software designed to ENGAGE owners &amp; SUPPORT decision making in
        building retrofit projects
      </h4>
      <div class="row-fluid">
        <div class="span3">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
          <h4>
            My Buildings&nbsp;
            <div>
              Dashboard
            </div>
          </h4>
        </div>
        <div class="span3">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
          <h4>
            Run Simulations&nbsp;
            <div>
              in Cloud
            </div>
          </h4>
        </div>
        <div class="span3">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
          <h4>
            User/Company&nbsp;
            <div>
              Login
            </div>
          </h4>
        </div>
        <div class="span3">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
          <h4>
            Save Inputs &amp; Outputs
            <div>
              in Cloud
            </div>
          </h4>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span3">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
          <h4>
            Data Flow
            <div>
              across tools
            </div>
          </h4>
        </div>
        <div class="span3">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
          <h4>
            Dual Units
            <div>
              English + Metric
            </div>
          </h4>
        </div>
        <div class="span3">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
          <h4>
            Weather Support
            <div>
              for 18 Cities
            </div>
          </h4>
        </div>
        <div class="span3">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
          <h4>
            Upload Utility Data&nbsp;
            <div>
              Portfolio Manager / Excel
            </div>
          </h4>
        </div>
      </div>
      <h5>
        The EEB Hub Simulation Platform includes numerous features in the categories
        of (1) user experience, (2) stakeholder engagement, and (3) ____. &nbsp;Features
        not shown above include an ASHRAE Accuracy Assessment, Feedback Pop-up,
        and Visitors Dashboard.
      </h5>
    </div>
    <hr>
    <div class="container pagincation-center text-center" id="visits">
      <h5>
        September 2013 - February 2014
      </h5>
      <h2>
        721 visitors
        <div>
          <div>
            15,751 pageviews
          </div>
        </div>
      </h2>
      <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
      <h3>
        426 visits/month
      </h3>
      <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
      <div class="row-fluid">
        <div class="span4">
          <h4>
            TOP Entrances
          </h4>
          <div class="row-fluid">
            <div class="span2">
              <span class="badge">1</span>
            </div>
            <div class="span10">
              <p>
                Direct tools.eebhub.org
              </p>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span2">
              <span class="badge">2</span>
            </div>
            <div class="span10">
              <p>
                Google
              </p>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span2">
              <span class="badge">3</span>
            </div>
            <div class="span10">
              <p>
                Weekly Hub-date
              </p>
            </div>
          </div>
          <p class="pull-left">
            <font color="#ffffff">
              <span style="font-size: 12px; line-height: 14px; white-space: nowrap; background-color: rgb(153, 153, 153);"></span>
            </font>
          </p>
        </div>
        <div class="span4">
          <h4>
            TOP Operating Systems
          </h4>
          <div class="row-fluid">
            <div class="span2">
              <span class="badge">1</span>
            </div>
            <div class="span10">
              <p>
                Macintosh
              </p>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span2">
              <span class="badge">2</span>
            </div>
            <div class="span10">
              <p>
                Windows
              </p>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span2">
              <span class="badge">3</span>
            </div>
            <div class="span10">
              <p>
                iOS (iPhone, iPad, iPod)
              </p>
            </div>
          </div>
          <p class="pull-left">
            <font color="#ffffff">
              <span style="font-size: 12px; line-height: 14px; white-space: nowrap; background-color: rgb(153, 153, 153);"></span>
            </font>
          </p>
        </div>
        <div class="span4">
          <h4>
            TOP Web Browsers
          </h4>
          <div class="row-fluid">
            <div class="span2">
              <span class="badge">1</span>
            </div>
            <div class="span10">
              <p>
                Chrome
              </p>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span2">
              <span class="badge">2</span>
            </div>
            <div class="span10">
              <p>
                Firefox
              </p>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span2">
              <span class="badge">3</span>
            </div>
            <div class="span10">
              <p>
                Safari
              </p>
            </div>
          </div>
          <p class="pull-left">
            <font color="#ffffff">
              <span style="font-size: 12px; line-height: 14px; white-space: nowrap; background-color: rgb(153, 153, 153);"></span>
            </font>
          </p>
        </div>
      </div>
    </div>
    <hr>
    <div class="container pagincation-center text-center" id="collaborations">
      <h2>
        COLLABORATIONS
      </h2>
      <h5>
        <span style="font-weight: normal;">include</span>
      </h5>
    </div>
    <div class="container pagincation-center text-center" id="casestudies">
      <div class="row-fluid">
        <div class="span4">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
        </div>
        <div class="span4">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
        </div>
        <div class="span4">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
        </div>
      </div>
      <h3>
        3 case studies
        <div>
        </div>
      </h3>
      <h5>
        x 6 Institutions = 18 Energy Models
      </h5>
    </div>
    <div class="container pagincation-center text-center" id="casestudies">
      <div class="row-fluid">
        <div class="span3">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
        </div>
        <div class="span3">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
        </div>
        <div class="span3">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
        </div>
        <div class="span3">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
        </div>
      </div>
      <h3>
        4 reports to U.S. DOE
        <div>
        </div>
      </h3>
    </div>
    <div class="container pagincation-center text-center" id="casestudies">
      <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
      <h3>
        2 focus groups
        <div>
        </div>
      </h3>
      <p>
        generated
      </p>
      <div class="row-fluid">
        <div class="span4">
          <h3>
            70
          </h3>
          <p>
            Functional Ideas
          </p>
        </div>
        <div class="span4">
          <h3>
            15
          </h3>
          <p>
            Software Ideas
          </p>
        </div>
        <div class="span4">
          <h3>
            52
          </h3>
          <p>
            Votes
          </p>
        </div>
      </div>
    </div>
    <div class="container pagincation-center text-center" id="casestudies">
      <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
      <h3>
        5 team presentations
        <div>
        </div>
      </h3>
    </div>
    <div class="container pagincation-center text-center" id="casestudies">
      <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
      <h3>
        270 screenshots
        <div>
        </div>
      </h3>
      <h5>
        of Graphical User Interfaces for Building Energy Software
        <div>
          a GUI library of inspiration for us and the world
        </div>
      </h5>
    </div>
    <div class="container pagincation-center text-center" id="casestudies">
      <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
      <h3>
        1 shared database
        <div>
        </div>
      </h3>
      <div class="row-fluid">
        <div class="span6">
          <h4>
            22
          </h4>
          <p>
            Users / Companies
          </p>
        </div>
        <div class="span6">
          <h4>
            24
          </h4>
          <p>
            Saved Buildings
          </p>
        </div>
      </div>
    </div>
    <div class="container pagincation-center text-center" id="casestudies">
      <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
      <h3>
        89,757 lines of code
      </h3>
      <h4>
        = 23,229 lines of hub created code + 76, 637 lines of open source code
      </h4>
      <h4>
        4,539 files, 143 images
      </h4>
      <h4>
        ~105 lines of code/day
      </h4>
      <h3>
        built with
      </h3>
      <h5>
        over 200 million lines of open source code...
      </h5>
      <div class="row-fluid">
        <div class="span1" style="display: block;">
        </div>
        <div class="span2" style="display: block;">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
          <h4>
            Span 1
          </h4>
          <p>
            Content here
          </p>
        </div>
        <div class="span2">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
          <h4>
            Span 2
          </h4>
          <p>
            Content here
          </p>
        </div>
        <div class="span2">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
          <h4>
            Span 2
          </h4>
          <p>
            Content here
          </p>
        </div>
        <div class="span2">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
          <h4>
            Span 2
          </h4>
          <p>
            Content here
          </p>
        </div>
        <div class="span2">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
          <h4>
            Span 2
          </h4>
          <p>
            Content here
          </p>
        </div>
        <div class="span1">
        </div>
      </div>
      <div class="row-fluid">
        <div class="span1" style="display: block;">
        </div>
        <div class="span2" style="display: block;">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
          <h4>
            Span 1
          </h4>
          <p>
            Content here
          </p>
        </div>
        <div class="span2">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
          <h4>
            Span 2
          </h4>
          <p>
            Content here
          </p>
        </div>
        <div class="span2">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
          <h4>
            Span 2
          </h4>
          <p>
            Content here
          </p>
        </div>
        <div class="span2">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
          <h4>
            Span 2
          </h4>
          <p>
            Content here
          </p>
        </div>
        <div class="span2">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
          <h4>
            Span 2
          </h4>
          <p>
            Content here
          </p>
        </div>
        <div class="span1">
        </div>
      </div>
      <h3>
        Heading
      </h3>
    </div>
    <hr>
    <div class="container">
      <h3>
        Heading
      </h3>
    </div>
    <div class="container">
      <h3>
        Heading
      </h3>
    </div>
    <div class="container">
      <h3>
        Heading
      </h3>
    </div>
  </body>

</html>