<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <title>
      Bootstrap, from Twitter
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Le styles -->
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap.min.css"
    rel="stylesheet">
  </head>
  
  <body>
    <!-- /container -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
    </script>
    <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js">
    </script>
    <div class="container" id="title">
      <h1 class="text-center">
        EEB Hub Simulation Platform
      </h1>
    </div>
    <div class="container pagination-center text-center" id="vision">
      <h4>
        web software to support decision making in building retrofit projects
      </h4>
      <h5 class="text-center">
        Sponsored by the U.S. Department of Energy | February 2013 - January 2014
      </h5>
    </div>
    <hr>
    <div class="container pagination-center text-center" id="team">
      <h2>
        13 organizations &amp; 53 people
      </h2>
      <h6 class="text-center">
      </h6>
      <img src="https://s3.amazonaws.com/media.jetstrap.com/GOQnjGZSdmlZdW8knPoh_Screen Shot 2014-05-08 at 12.32.53 AM.png"
      width="350">
      <h5>
        <span style="font-weight: normal;">
    from 12 different cities around the nation</span>
      </h5>
      <div class="container pagination-centered">
      </div>
    </div>
    <div class="container pagination-center text-center" id="integration">
      <h3>
        set out to integrate 10+ building energy software packages
      </h3>
      <img src="https://s3.amazonaws.com/media.jetstrap.com/qhawD9fTQcqD7iZc4kkQ_software2.png"
      id="" class="span9 offset1">
      <div class="container pagination-centered">
      </div>
    </div>
    <div class="container pagination-center text-center" id="infrastructure">
      <h3 class="text-center">
        into 1 user-friendly interface
      </h3>
      <span style="font-weight: normal;">with building expert knowledge throughout</span>
      <h5>
      </h5>
      <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
      <h3 class="text-center">
        on 1 web platform
      </h3>
      <h5>
        <span style="font-weight: normal;">available to <a href="http://www.itu.int/net/pressoffice/press_releases/2014/23.aspx#.U3Pw561dUtM">billions</a> of people</span>
      </h5>
      <img src="https://s3.amazonaws.com/media.jetstrap.com/RcWz7vqpT5y8kloTjzF9_cloud.png"
      width="120">
      <div class="container pagination-centered">
      </div>
      <h5>
        <span style="font-weight: normal;">
    built with a cloud infrastructure of 4 Dell Servers, VMware vSphere+vCenter, &amp; 20 virtual machines
  <h3><div><br></div>
    ...11 months later...
  </h3></span>
      </h5>
    </div>
    <hr>
    <div class="container pagination-center text-center" id="tools">
      <img src="https://s3.amazonaws.com/media.jetstrap.com/EsdTJShhR3CqKwD8Shul_EEBHubSimulationPlatform4.png"
      width="350">
      <h2>
        4 web tools - 4 levels of complexity
        <div>
          <br>
        </div>
      </h2>
      <div class="container pagination-centered">
      </div>
      <div class="row-fluid">
        <div class="span3">
          <img src="https://s3.amazonaws.com/media.jetstrap.com/98JZ49pSVDEH22mXRr8Q_lite.png">
          <h3>
            Lite
          </h3>
          <br>
          <br>
          <img src="https://s3.amazonaws.com/media.jetstrap.com/flzi9nt2SsSlLPhVu2sn_ashrae-clear.png">
          <br>
          <img src="https://s3.amazonaws.com/media.jetstrap.com/zTtXvRyMTiuXIuQHGqP3_ibm-home.png">
          <br>
        </div>
        <div class="span3">
          <img src="https://s3.amazonaws.com/media.jetstrap.com/zidYzIYxRsa1aeP1JYC0_partial.png">
          <h3>
            Partial
          </h3>
          <img src="https://s3.amazonaws.com/media.jetstrap.com/7iPXYxnQpqUK42B6Gx01_mit-home.png">
          <br>
          <img src="https://s3.amazonaws.com/media.jetstrap.com/Pgr2NVqT3y8GrYlGfNXW_cmu-home.png">
          <br>
          <br>
        </div>
        <div class="span3">
          <img src="https://s3.amazonaws.com/media.jetstrap.com/8lF9kEprRXXnyLVF0j1D_substantial.png">
          <h3>
            Substantial
          </h3>
          <img src="https://s3.amazonaws.com/media.jetstrap.com/SGSahMWpRxyHoh421MzL_utrc-home.png">
          <br>
          <br>
          <img src="https://s3.amazonaws.com/media.jetstrap.com/m9lPiueXShmxGSAj8kkg_upenn-home.png">
        </div>
        <div class="span3">
          <img src="https://s3.amazonaws.com/media.jetstrap.com/7P38ZWmwR4KVSy1nUJhu_comprehensive.png">
          <h3>
            Comprehensive
          </h3>
          <img src="https://s3.amazonaws.com/media.jetstrap.com/zd2g2yTRdCWyqgo0fmDF_psu-home.png">
          <br>
          <br>
          <br>
          <img src="https://s3.amazonaws.com/media.jetstrap.com/Qkm7C3KhSSSuZygt1kMM_openstudio.png"
          width="80">
        </div>
      </div>
      <h4>
        <div>
          <div>
            <div>
            </div>
          </div>
        </div>
      </h4>
    </div>
    <div class="container pagination-center text-center" id="features">
      <h4>
        1 interface simplifies the best parts of 8 engines
        <sup>
          E
        </sup>
        , 3 mockups
        <sup>
          M
        </sup>
        , 5 external resources
        <sup>
          R
        </sup>
        , and 1 retrofit game, online at:
        <div>
          <br>
        </div>
      </h4>
      <h1>
        <a href="http://tools.eebhub.org">
    tools.eebhub.org
  </a>
      </h1>
      <p>
        features include
      </p>
      <div class="row-fluid">
        <div class="span3">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
          <h4>
            My Buildings&nbsp;
            <div>
              Dashboard
            </div>
          </h4>
        </div>
        <div class="span3">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
          <h4>
            Run Simulations&nbsp;
            <div>
              in Cloud
            </div>
          </h4>
        </div>
        <div class="span3">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
          <h4>
            User/Company&nbsp;
            <div>
              Login
            </div>
          </h4>
        </div>
        <div class="span3">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
          <h4>
            Save Inputs &amp; Outputs
            <div>
              in Cloud
            </div>
          </h4>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span3">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
          <h4>
            Data Flow
            <div>
              across tools
            </div>
          </h4>
        </div>
        <div class="span3">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
          <h4>
            Dual Units
            <div>
              English + Metric
            </div>
          </h4>
        </div>
        <div class="span3">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
          <h4>
            Weather Support
            <div>
              for 18 Cities
            </div>
          </h4>
        </div>
        <div class="span3">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
          <h4>
            Upload Utility Data&nbsp;
            <div>
              Portfolio Manager / Excel
            </div>
          </h4>
        </div>
      </div>
      <h4>
        <div>
          <br>
          <div>
            <br>
          </div>
        </div>
        all designed to ENGAGE owners &amp; SUPPORT decision making in building
        retrofit projects
      </h4>
      <h5>
        <span style="font-weight: normal;">
    The EEB Hub Simulation Platform features were developed with a focus on (1) user experience, (2) stakeholder engagement, and (3) data accessibility.
    &nbsp;Features not shown above include an ASHRAE Accuracy Assessment, Feedback
    Pop-up, and Visitors Dashboard.
  </span>
      </h5>
    </div>
    <hr>
    <div class="container pagincation-center text-center" id="visits">
      <h5>
        September 2013 - February 2014
      </h5>
      <h2>
        721 unique visitors
        <div>
          <div>
            15,751 pageviews
          </div>
        </div>
      </h2>
      <img src="https://s3.amazonaws.com/media.jetstrap.com/6n61ZZRgQlWk2gmVXotf_map.png"
      width="400">
      <h3>
        426 visits/month
      </h3>
      <h5>
        <span style="font-weight: normal;">tracked with Google Analytics and Geckoboard</span>
      </h5>
      <div class="row-fluid">
        <div class="span4">
          <h4>
            Top Entrances
          </h4>
          <div class="row-fluid">
            <div class="span4">
              <span class="badge pull-right">1</span>
            </div>
            <div class="span8">
              <p class="pull-left">
                Direct to tools.eebhub.org
              </p>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span4">
              <span class="badge pull-right">2</span>
            </div>
            <div class="span8">
              <p class="pull-left">
                Google
              </p>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span4">
              <span class="badge pull-right">3</span>
            </div>
            <div class="span8">
              <p class="pull-left">
                Weekly Hub-date Emails &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
              </p>
            </div>
          </div>
          <p class="pull-left">
            <font color="#ffffff">
              <span style="font-size: 12px; line-height: 14px; white-space: nowrap; background-color: rgb(153, 153, 153);"></span>
            </font>
          </p>
        </div>
        <div class="span4">
          <h4>
            Top Operating Systems
          </h4>
          <div class="row-fluid">
            <div class="span4">
              <span class="badge pull-right">1</span>
            </div>
            <div class="span8">
              <p class="pull-left">
                Macintosh
              </p>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span4">
              <span class="badge pull-right"></span>
              <span class="badge pull-right">2</span>
            </div>
            <div class="span8">
              <p class="pull-left">
                Windows
              </p>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span4">
              <span class="badge pull-right">3</span>
            </div>
            <div class="span8">
              <p class="pull-left">
                iOS (iPhone, iPod)
              </p>
            </div>
          </div>
          <p class="pull-left">
            <font color="#ffffff">
              <span style="font-size: 12px; line-height: 14px; white-space: nowrap; background-color: rgb(153, 153, 153);"></span>
            </font>
          </p>
        </div>
        <div class="span4">
          <h4>
            Top Web Browsers
          </h4>
          <div class="row-fluid">
            <div class="span4">
              <span class="badge pull-right">1</span>
            </div>
            <div class="span8">
              <p class="pull-left">
                Chrome
              </p>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span4">
              <span class="badge pull-right">2</span>
            </div>
            <div class="span8">
              <p class="pull-left">
                Firefox
              </p>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span4">
              <span class="badge pull-right">3</span>
            </div>
            <div class="span8">
              <p class="pull-left">
                Safari
              </p>
            </div>
          </div>
          <p class="pull-left">
            <font color="#ffffff">
              <span style="font-size: 12px; line-height: 14px; white-space: nowrap; background-color: rgb(153, 153, 153);"></span>
            </font>
          </p>
        </div>
      </div>
    </div>
    <hr>
    <div class="container pagincation-center text-center" id="collaborations">
      <h2>
        COLLABORATIONS
      </h2>
      <h5>
      </h5>
      <h5>
        <span style="font-weight: normal;">
    include
  </span>
      </h5>
    </div>
    <div class="container pagincation-center text-center" id="casestudies">
      <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
      <h3>
        3 case studies
        <div>
        </div>
      </h3>
      <h5>
        x 6 Institutions = 18 Energy Models of Building Retrofits
      </h5>
    </div>
    <div class="container pagincation-center text-center" id="casestudies">
      <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
      <h3>
        4 reports to U.S. DOE
        <div>
        </div>
      </h3>
    </div>
    <div class="container pagincation-center text-center" id="casestudies">
      <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
      <h3>
        2 focus groups
        <div>
        </div>
      </h3>
      <p>
        which generated
      </p>
      <div class="row-fluid">
        <div class="span4">
          <h3>
            70+
          </h3>
          <p>
            Functional Ideas
          </p>
        </div>
        <div class="span4">
          <h3>
            15
          </h3>
          <p>
            Software Ideas
          </p>
        </div>
        <div class="span4">
          <h3>
            52
          </h3>
          <p>
            Votes
          </p>
        </div>
      </div>
    </div>
    <div class="container pagincation-center text-center" id="casestudies">
      <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
      <h3>
        5 team presentations
        <div>
        </div>
      </h3>
    </div>
    <div class="container pagincation-center text-center" id="casestudies">
      <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
      <h3>
        270 screenshots
        <div>
        </div>
      </h3>
      <h5>
        of Building Energy Software GUI's&nbsp;
        <span style="font-weight: normal; color: inherit; font-family: inherit;"><br>...a Graphical User Interface library of inspiration for us and the world</span>
      </h5>
    </div>
    <div class="container pagincation-center text-center" id="casestudies">
      <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
      <h3>
        1 shared database
        <div>
        </div>
      </h3>
      <h5>
        <span style="font-weight: normal;">SimDB (Simulation Database) supports features such as user login, data flow across tools, my buildings dashboard, &amp; saving inputs in the cloud. &nbsp;We used a Document Based Database built with MongoDB. &nbsp;The documents are made up of JavaScript Object Notation (JSON) files with attributes based off of the&nbsp;DOE's Building Energy Data Exchange Specification (BEDES). &nbsp;As of January 2014, there are:</span>
      </h5>
      <div class="row-fluid">
        <div class="span6">
          <h4>
            22
          </h4>
          <p>
            Users / Companies
          </p>
        </div>
        <div class="span6">
          <h4>
            24
          </h4>
          <p>
            Saved Buildings
          </p>
        </div>
      </div>
    </div>
    <div class="container pagincation-center text-center" id="casestudies">
      <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
      <h3>
        90,431 lines of code
      </h3>
      <h4>
        = 23,229 lines of team created code + 67,202 lines of open source code
      </h4>
      <h5>
        <span style="font-weight: normal;"><b><span style="font-weight: normal;">includes comments, 4,539 files, 143 images; estimated lines of code per project weekday = 105<br>all available at <a href="http://www.github.com/eebhub/platform">github.com/eebhub/platform</a></span>
        </b>
        </span>
      </h5>
      <h3>
        built with
      </h3>
      <h4>
        software comprised of over 20 million lines of open source code
      </h4>
      <div class="row-fluid">
        <div class="span1" style="display: block;">
        </div>
        <div class="span2" style="display: block;">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
          <h5>
            Ubuntu Linux
          </h5>
          <p>
            Operating System
          </p>
          <p>
            1M
          </p>
        </div>
        <div class="span2">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
          <h5>
            Node.js
          </h5>
          <p>
            Server Language
          </p>
          <p>
            1.8M
          </p>
        </div>
        <div class="span2">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
          <h5>
            MongoDB
          </h5>
          <p>
            Document Database
          </p>
          <p>
          </p>
          <p>
          </p>
          <p>
            0.5M
          </p>
          <p>
          </p>
        </div>
        <div class="span2">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
          <h5>
            Express
          </h5>
          <p>
            Web Framework
          </p>
          <p>
            7K*
          </p>
        </div>
        <div class="span2">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
          <h5>
            Bootstrap
          </h5>
          <p>
            Front-End Styling
          </p>
          <p>
            47K*
          </p>
        </div>
        <div class="span1">
        </div>
      </div>
      <div class="row-fluid">
        <div class="span1" style="display: block;">
        </div>
        <div class="span2" style="display: block;">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
          <h5>
            Linux Kernel
          </h5>
          <p>
            Hardware Management
          </p>
          <p>
            16M
          </p>
        </div>
        <div class="span2">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
          <h5>
            npm
          </h5>
          <p>
            Package Manager
          </p>
          <p>
            74K
          </p>
        </div>
        <div class="span2">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
          <h5>
            Github
          </h5>
          <p>
            Versioning
          </p>
          <p>
          </p>
          <p>
            0.3M
          </p>
        </div>
        <div class="span2">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
          <h5>
            Apache
          </h5>
          <p>
            Web Server
          </p>
          <p>
          </p>
          <p>
            2.2M
          </p>
        </div>
        <div class="span2">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
          <h5>
            Cloud9IDE
          </h5>
          <p>
            Online Coding Environment
          </p>
          <p>
            4K
          </p>
        </div>
        <div class="span1">
        </div>
      </div>
      <h5>
        <div>
          <span style="font-weight: normal;"><b><span style="font-weight: normal;">KEY &nbsp; | &nbsp; Number = Lines of Open Source Code &nbsp; | &nbsp; M = Million &nbsp; | &nbsp; K = Thousand</span>
          </b>
          </span>
          <div>
            <br>
          </div>
        </div>
        <span style="font-weight: normal;">The EEB Hub Simulation Platform could not have been built in 11 months without the use of open source software tools. &nbsp;While all software listed above supported the creation of tools.eebhub.org, only frameworks with an asteriks* were included in the code base. &nbsp;Honorable mentions of open source software also used include Cyberduck (server file transfer), Brackets.io (offline coding environment), &amp; ASHRAE Inverse Modeling Toolkit.</span>
        &nbsp;
      </h5>
    </div>
    <hr>
    <div class="container pagincation-center text-center" id="lessons">
      <h3 class="text-center">
        LESSONS LEARNED
      </h3>
      <h4>
        1. &nbsp;To enable effective national collaboration use:
      </h4>
      <div class="row-fluid">
        <div class="span3">
        </div>
        <div class="span3">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
          <h4>
            Video Conferencing
          </h4>
          <p>
            to make virtual meetings more natural with Telepresence or Hangouts
          </p>
        </div>
        <div class="span3">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
          <h4>
            Google Apps
          </h4>
          <p>
            to co-create documents in realtime, use a list-serv email address, &amp;
            generate easy links
          </p>
        </div>
        <div class="span3">
        </div>
      </div>
      <h4>
        2. &nbsp;To support software integration, standarize an operating system
        early in project.
      </h4>
      <span style="font-weight: normal;">We used Ubuntu Linux because it's free, open source, extremely well documented, &amp; proven for live production web apps.&nbsp;</span>
      <div>
        <br>
        <h4>
          3. &nbsp;To allow a small team of developers to build a web application
          as fast as possible use:
        </h4>
        <div class="row-fluid">
          <div class="span3">
          </div>
          <div class="span3">
            <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
            <h4>
              Node.js
            </h4>
            <p>
              to speak 1 Language [JavaScript] for coding in the browser, server, &amp;
              database
            </p>
          </div>
          <div class="span3">
            <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
            <h4>
              JSON Document Database
            </h4>
            <p>
              to allow for a flexible data structure that can be read/critiqued by entire
              team
            </p>
          </div>
          <div class="span3">
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="container pagincation-center text-center" id="news">
      <h3 class="text-center">
      </h3>
      <h3>
        to learn even more
      </h3>
      <h5>
        <span style="font-weight: normal;">
    check out the <a href="http://tools.eebhub.org/news">8 news articles</a> published throughout 2013, especially the culminating research digest summary:</span>
      </h5>
      <img src="https://s3.amazonaws.com/media.jetstrap.com/wOXpQZg4RHqHZllDWaD4_logo-eebhub-research-digest.jpg">
      <h5>
        <span style="font-weight: normal;">
    The above article highlights the free and user-friendly building energy simulation web tools created throughout 2013 as well as this positive example of collaboration across research universities (PSU, MIT, CMU, UPenn), national labs (NREL, NIST), and industrial firms (IBM, UTRC).</span>
      </h5>
    </div>
    <hr>
    <div class="container pagincation-center text-center" id="footer">
      <h1>
        EEB Hub Simulation Platform
      </h1>
      <h5>
        Built by the
        <a href="http://www.eebhub.org">Energy Efficient Buildings Hub</a>
        , a
        <a href="http://developer.eebhub.org/eebhub/doe-hubs.html">U.S. Department of Energy
    Innovation Hub</a>
        , in 2013
        <div>
          <br>
          <div>
            Project led by
            <a href="http://www.buildsci.us/people">Dr. Jelena Srebric</a>
            &nbsp;|&nbsp;Software Integration by&nbsp;
            <a href="http://www.joshwentz.net/">Josh Wentz</a>
            , Ying Sun, Nick Mattise, Payam Delgoshaei
            <div>
              <a href="http://tools.eebhub.org/team"><span style="font-weight: normal;">Entire 53 Person Simulation &amp; Modeling Team here</span></a>
              &nbsp;|&nbsp;
              <span style="font-weight: normal; color: inherit; font-family: inherit;">Infographic Webpage above designed &amp; developed by </span>
              <a href="http://www.joshwentz.net" style="font-weight: normal; font-family: inherit;">Josh Wentz</a>
              <span style="font-weight: normal;"></span>
            </div>
            <div>
              <span style="font-weight: normal;">References embedded into web links above</span>
              |&nbsp;
              <span style="font-weight: normal;"><a href="https://raw.githubusercontent.com/eebhub/platform/master/ACKNOWLEDGEMENT_DISCLAIMER">DOE Acknowledgement &amp; Disclaimer</a></span>
            </div>
          </div>
          <div>
          </div>
        </div>
      </h5>
    </div>
  </body>

</html>