<!DOCTYPE html>
<html ng-app>
    
    <head>
        <title>EEB Hub Simulation Platform</title>
        <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
        <link rel="icon" href="img/favicon.ico" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/stylesheet.css" rel="stylesheet">
        <link href="css/partial.css" rel="stylesheet">
        <link href="css/bootstrap-responsive.min.css" rel="stylesheet">
        <style type="text/css">
        .table th{
               text-align: center;  
               }
        .table td{
               text-align: center;  
               vertical-align:middle;
               }       
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
        
    </head>
    <body data-spy="scroll" data-target=".bs-docs-sidebar">

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="brand">EEB Hub Simulation Platform</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="">
                                <a href="/lite">LITE</a>
                            </li>
                            <li class="">
                                <a href="/partial">PARTIAL</a>
                            </li>
                            <li>
                                <a href="/substantial">SUBSTANTIAL</a>
                            </li>
                            <li>
                                <a href="/comprehensive">COMPREHENSIVE</a>
                            </li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <!-- Intro -->
<div class="container">
<table border='1' class="table table-bordered table-striped" style='background-color:white;'>
<h2><center>Three Case Studies</center></h2>
<p align="right"><img src='img/glyphicons_041_charts.png' width='14' height='14'>: Output Demos <i class="icon-file"></i>: Detailed Reports</p>

<tr>
<th></th>
<th>Case study 1: Building 101<br><br><img src="img/Building101.jpg" width='170' height='90'></th>
<th>Case study 2: One Montgomery Plaza<br><br><img src="img/OneMontgomeryPlaza.jpg" width='170' height='90'></th>
<th>Case study 3: Other Building<br><br><img src="img/Building100.png" width='170' height='90'></th>
</tr>
<tr>
<th><a href='http://developer.eebhub.org/archives/casestudies/pdfs/IBM_casestudies.pdf'><img src="img/ibm-full.png" width='120' height='70'></a></th>
<td><a href='http://developer.eebhub.org/archives/casestudies/pdfs/IBM_casestudy1.pdf'><img src='img/glyphicons_036_file.png' width='25' height='25'></a></td>
<td><a href='http://developer.eebhub.org/archives/casestudies/pdfs/IBM_casestudy2.pdf'><img src='img/glyphicons_036_file.png' width='25' height='25'></a></td>
<td><a href='http://developer.eebhub.org/archives/casestudies/pdfs/IBM_casestudy3.pdf'><img src='img/glyphicons_036_file.png' width='25' height='25'></a></td>
</tr>
<tr>
<th><a href='http://developer.eebhub.org/archives/casestudies/pdfs/MIT_casestudies.pdf'><img src="http://tools.eebhub.org/img/mit-full.png" width='120' height='70'></a></th>
<td><a href='http://developer.eebhub.org/archives/casestudies/pdfs/MIT_casestudy1.pdf'><img src='img/glyphicons_036_file.png' width='25' height='25'></a></td>
<td><a href='http://developer.eebhub.org/archives/casestudies/pdfs/MIT_casestudy2.pdf'><img src='img/glyphicons_036_file.png' width='25' height='25'></a></td>
<td></td>
</tr>
<tr>
<th><a href='http://developer.eebhub.org/archives/casestudies/pdfs/UTRC_casestudies.pdf'><img src="http://tools.eebhub.org/img/utrc-long.png" width='130' height='70'></a></th>
<td><a href='http://developer.eebhub.org/archives/casestudies/pdfs/UTRC_casestudy1.pdf'><img src='img/glyphicons_036_file.png' width='25' height='25'></a></td>
<td><a href='http://developer.eebhub.org/archives/casestudies/pdfs/UTRC_casestudy2.pdf'><img src='img/glyphicons_036_file.png' width='25' height='25'></a></td>
<td><a href='http://developer.eebhub.org/archives/casestudies/pdfs/UTRC_casestudy3.pdf'><img src='img/glyphicons_036_file.png' width='25' height='25'></a></td>
</tr>
<tr>
<th><a href='http://developer.eebhub.org/archives/casestudies/pdfs/UPenn_casestudies.pdf'><img src="img/upenn-full.png" width='120' height='70'></a></th>
<td><a href='http://developer.eebhub.org/archives/casestudies/pdfs/UPenn_casestudy1.pdf'><img src='img/glyphicons_036_file.png' width='25' height='25'></a> <a href='http://developer.eebhub.org/upenn/'><img src='img/glyphicons_041_charts.png' width='25' height='25'></a></td>
<td><a href='http://developer.eebhub.org/archives/casestudies/pdfs/UPenn_casestudy2.pdf'><img src='img/glyphicons_036_file.png' width='25' height='25'></a></td>
<td></td>
</tr>
<tr>
<th><a href='http://developer.eebhub.org/archives/casestudies/pdfs/PSU_casestudies.pdf'><img src="http://tools.eebhub.org/img/psu-light2.png" width='120' height='80'></th>
<td><a href='http://developer.eebhub.org/archives/casestudies/pdfs/PSU_casestudy1.pdf'><img src='img/glyphicons_036_file.png' width='25' height='25'></a> <a href='http://rmt.eebhub.org/comprehensive2/energy-use_example.php'><img src='img/glyphicons_041_charts.png' width='25' height='25'></a></td>
<td><a href='http://developer.eebhub.org/archives/casestudies/pdfs/PSU_casestudy2.pdf'><img src='img/glyphicons_036_file.png' width='25' height='25'></a> <a href='http://rmt.eebhub.org/comprehensive2/energy-use_example.php'><img src='img/glyphicons_041_charts.png' width='25' height='25'></a></td>
<td></td>
</tr>
<th><img src="img/cmu-full.png" width='120' height='80'></th>
<td><a href='http://developer.eebhub.org/cmu/DesignAdvisor_CaseStudy.html'><img src='img/glyphicons_041_charts.png' width='25' height='25'></a></td>
<td><a href='http://developer.eebhub.org/cmu/DesignAdvisor_CaseStudy.html'><img src='img/glyphicons_041_charts.png' width='25' height='25'></a></td>
<td></td>
</tr>
<tr>
</table>

</div>
            <!-- Javascript -->
            <script src="js/ui-bootstrap.js"></script>
            <script src="js/jquery.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <script src="js/bootstrap-scrollspy.js"></script>
            <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            
              ga('create', 'UA-26348074-7', 'eebhub.org');
              ga('send', 'pageview');
            
            </script>
    </body>

</html>