<!DOCTYPE html>
<html ng-app>
    
    <head>
        <title>EEB Hub Simulation Platform Tools</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/stylesheet.css" rel="stylesheet">
        <link href="css/bootstrap-responsive.min.css" rel="stylesheet">
        <link href="css/bootstrap-fileupload.css" rel="stylesheet">
        <link href="css/partial.css" rel="stylesheet">
        <style type="text/css">
            body {
                padding-top: 60px;
                padding-bottom: 40px;
                background-color: rgb(229, 229, 229);
            }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
        <script src="js/building101Data.js"></script>
        <script>
            function printValue(sliderID, textbox) {
                var x = document.getElementById(textbox);
                var y = document.getElementById(sliderID);
                x.value = y.value;
            }

            window.onload = function() {
                printValue('ceilingSlider', 'ceilingRangeValue');
                printValue('floorSlider', 'floorRangeValue');
                printValue('groundSlider', 'groundRangeValue');
                printValue('wallSlider', 'wallRangeValue');
                printValue('shadingDeviceSlider', 'shadingDeviceRangeValue');
                printValue('overhangSlider', 'overhangRangeValue');
                printValue('exteriorSlider', 'exteriorRangeValue');
                printValue('interiorSlider', 'interiorRangeValue');
                printValue('obstructionSlider', 'obstructionRangeValue');
            }
        </script>
    </head>
    
    <body data-spy="scroll" data-target=".bs-docs-sidebar">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="/">EEB Hub Simulation Platform</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li>
                                <a href="/lite">Lite</a>
                            </li>
                            <li class="">
                                <a href="/partial">Partial</a>
                            </li>
                            <li>
                                <a href="/substantial">Substantial</a>
                            </li>
                            <li class="active">
                                <a href="/comprehensive">Comprehensive</a>
                            </li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <!-- Intro -->
        <div class="container">
            <div class="row">
                <div class="span3 bs-docs-sidebar">
                    <ul class="nav nav-list bs-docs-sidenav">
                        <h3>Comprehensive
                            <small>-PSU</small>
                        </h3>
                        <li>
                            <a href="#building"><i class="icon-map-marker"></i> Building</a>
                        </li>
                        <li>
                            <a href="#architecture"><i class="icon-home"></i>Architecture</a>
                        </li>
                        <li>
                            <a href="#materials"><i class="icon-th-large"></i>Materials</a>
                        </li>
                        <li>
                            <a href="#people"><i class="icon-user"></i>People</a>
                        </li>
                        <li>
                            <a href="#lighting"><i class="icon-asterisk"></i>Lighting</a>
                        </li>
                        <li>
                            <a href="#mechanical"><i class="icon-cog"></i>Mechanical</a>
                        </li>
                        <li>
                            <a href="#schedules"><i class="icon-time"></i>Schedules</a>
                        </li>
                        <li>
                            <a href="#conservation"><i class="icon-leaf"></i>Conservation</a>
                        </li>
                    </ul>
                </div>
                <div class="span9">
                    <form action="http://128.118.67.241/rmt/simulate-openstudio.php" method="post" name="platformForm">
                    <section id="building">
                        <div id="box-unit">
                            <div class="page-header">
                                <table>
                                        <tr>
                                            <td>
                                                <h2>Building</h2>
                                            </td>
                                            <td class="span7">
                                                <div class="pull-right text-right">
                                                <button type="button" onclick="building101Data()" class="btn">
                                                    <i class="icon-plus"></i><b>Building 101 Data</b></button>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                            </div>
                            <div class="row">
                                <div class="span4">
                                    <h4>Building Name</h4>
                                    <input class="span3" type="text" name="building_name">
                                    <br/>
                                    <h4>Climate</h4>
                                    <div class="input-append">
                                        <select class="span3" name="weather_epw_location">
                                            <option>Albuquerque, NM</option>
                                            <option>Baltimore, MD</option>
                                            <option>Boise, ID</option>
                                            <option>Burlington, VT</option>
                                            <option>Chicago, IL</option>
                                            <option>Duluth, MN</option>
                                            <option>El Paso, TX</option>
                                            <option>Fairbanks, AK</option>
                                            <option>Helena, MT</option>
                                            <option>Houston, TX</option>
                                            <option>Memphis, TN</option>
                                            <option>Miami, FL</option>
                                            <option>Pheonix, AZ</option>
                                            <option selected>Philadelphia, PA</option>
                                            <option>Riyadh, SAU</option>
                                            <option>Salem, OR</option>
                                            <option>San Francisco, CA</option>
                                            <option>Vancouver, CAN</option>
                                        </select>
                                        <span class="add-on">
                                            <a href="http://developer.eebhub.org/weather.html" target="_blank"><i class="icon-map-marker"></i></a>
                                        </span>
                                    </div>
                                </div>
                                <div class="span4">
                                    <h4>Function</h4>
                                    <select class="span3" name="activity_type">
                                        <option>Small Office</option>
                                        <option>Medium Office</option>
                                        <option>Large Office</option>
                                        <option>Stand-alone Retail</option>
                                        <option>Strip Mall</option>
                                        <option>Primary School</option>
                                        <option>Secondary School</option>
                                        <option>Outpatient Healthcare</option>
                                        <option>Hospital</option>
                                        <option>Small hotel</option>
                                        <option>Large Hotel</option>
                                        <option>Warehouse (non-refrigerated)</option>
                                        <option>Quick Service Restaurant</option>
                                        <option>Full Service Restaurant</option>
                                        <option>Mid-Rise Apartment</option>
                                        <option>High-Rise Apartment</option>
                                    </select>
                                    <h4>Year Built</h4>
                                    <input class="span3" type="number" min="1500" max="2020" step="1" id="year_completed" name="year_completed">
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="architecture">
                        <div id="box-unit">
                            <div class="page-header">
                                <h2>Architecture
                                    <small>shape / geometry</small>
                                </h2>
                            </div>
                            <div class="row">
                                <div class="span4">
                                    <h4>Gross Floor Area</h4>
                                    <div class="input-append">
                                        <input type="text" name="gross_floor_area">
                                        <span class="add-on">m&#178;</span>
                                    </div>
                                    <h4>Number of Floors</h4>
                                    <input type="number" name="number_of_floors" min="0" step="1">
                                    <h4>% Window to Wall Area</h4>
                                        <ul class="inline">
                                            <li>
                                                <input type="range" ng-model="winwall" min="0" max="100" step="1" value=50/>
                                            </li>
                                            <li>
                                                <div class="input-append">
                                                    <input class="span1" type="text" value={{winwall}} ng-model="winwall" name="window_to_wall_ratio">
                                                    <span class="add-on">%</span>
                                                </div>
                                            </li>
                                        </ul>
                                </div>
                                <div class="span4">
                                    <h4>Geometry Import</h4>
                                    <img src="img/BuildingGEO.jpg" class="img-polaroid">
                                    <!--UPLOAD IFC-->
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <div class="input-append">
                                            <div class="uneditable-input span2">
                                                <i class="icon-file fileupload-exists"></i>
                                                <span class="fileupload-preview">coming soon</span>
                                            </div>
                                            <span class="btn btn-file">
                                                <span class="fileupload-new">Upload Building Model (.IFC)</span>
                                                <span class="fileupload-exists"></span>
                                                <input type="file" />
                                            </span>
                                            <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
                                        </div>
                                    </div>
                                    <!--UPLOAD IFC-->
                                    <h2 class="text-right">
                                        <small>BIMserver will extract &
                                            <a href="http://www.virtualpulse.us/V1">visualize </a>external walls, numbers of floors, gross floor area for simulation.</small>
                                    </h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="span4">
                                    <h4>Shape</h4>
                                    <select name="footprint_shape">
                                        <option value="Rectangle">Rectangle</option>
                                        <option value="T" selected>T Shaped</option>
                                        <option value="H" disabled>H Shape</option>
                                        <option value="L" disabled>L Shape</option>
                                        <option value="U" disabled>U Shaped</option>
                                        <option value="Pie" disabled>Pie Shaped</option>
                                        <option value="Polygon" disabled>Geometry Import</option>
                                    </select>
                                    <img src="img/basic_geometry/t_shape_min_zone.png" class="img-polaroid">
                                </div>
                                <div class="span4">
                                    <br>
                                    <br>
                                    <br>
                                    <h4>Length</h4>
                                    <div class="input-append">
                                        <input class="span2" id="appendedInput" type="text" name="building_length">
                                        <span class="add-on">m</span>
                                    </div>
                                    <h4>Width</h4>
                                    <div class="input-append">
                                        <input class="span2" id="appendedInput" type="text" name="building_width">
                                        <span class="add-on">m</span>
                                    </div>
                                    <h4>End 1</h4>
                                    <div class="input-append">
                                        <input class="span2" id="appendedInput" type="text" name="building_end1">
                                        <span class="add-on">m</span>
                                    </div>
                                    <h4>End 2</h4>
                                    <div class="input-append">
                                        <input class="span2" id="appendedInput" type="text" name="building_end2">
                                        <span class="add-on">m</span>
                                    </div>
                                    <h4>Offset</h4>
                                    <div class="input-append">
                                        <input class="span2" id="appendedInput" type="text" name="building_offset">
                                        <span class="add-on">m</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="box-unit">
                            <div class="page-header">
                                <h2>Architecture
                                    <small>typical room</small>
                                </h2>
                            </div>
                            <div class="row">
                                <div class="span2">
                                    <img class="img-rounded" src="img/room_dimensions.png">
                                </div>
                                <div class="span3">
                                    <h4>Room Width</h4>
                                    <div class="input-append">
                                        <input type="number" min="0" step="0.1" class="span2" id="appendedInput"
                                        name="room_width" />
                                        <span class="add-on">m</span>
                                    </div>
                                    <h4>Room Depth</h4>
                                    <div class="input-append">
                                        <input type="number" min="0" step="0.1" class="span2" id="appendedInput"
                                        name="room_depth" />
                                        <span class="add-on">m</span>
                                    </div>
                                    <h4>Room Height</h4>
                                    <div class="input-append">
                                        <input type="number" min="0" step="0.1" class="span2" id="appendedInput"
                                        name="room_height" />
                                        <span class="add-on">m</span>
                                    </div>
                                </div>
                                <div class="span3">
                                    <h4>Window Facade Orientation</h4>
                                    <select name="exterior_shading_orientation"
                                    class="span2">
                                        <option>North</option>
                                        <option>North-East</option>
                                        <option>East</option>
                                        <option>South-East</option>
                                        <option>South</option>
                                        <option>South-West</option>
                                        <option>West</option>
                                        <option>North-West</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="span2">
                                    <img class="img-rounded" src="img/overhang.gif" width="170">
                                </div>
                                <div class="span3">
                                    <h4>Overhang Depth</h4>
                                    <div class="input-append">
                                        <input class="span2" id="appendedInput" type="number" name="overhang_depth">
                                        <span class="add-on">m</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="materials">
                        <div id="box-unit">
                            <div class="page-header">
                                <h2>Materials</h2>
                            </div>
                            <div class="row">
                                <div class="span4">
                                    <h4>Windows</h4>
                                    <select class="span3">
                                        <option>Multi-layer Glass</option>
                                        <option>Single Layer Clear Glass</option>
                                        <option>Reflective Glass</option>
                                        <option>Dark Tint Glass</option>
                                        <option>Combination</option>
                                        <option>No Windows</option>
                                        <option>Unknown</option>
                                    </select>
                                    <h4>Roof</h4>
                                    <select class="span3">
                                        <option>Insulation Entirely Above Deck</option>
                                        <option>Metal Roof</option>
                                        <option>Attic and Other</option>
                                    </select>
                                </div>
                                <div class="span4">
                                    <h4>Walls</h4>
                                    <select class="span3">
                                        <option>Concrete Mass</option>
                                        <option>Metal</option>
                                        <option>Steel Framed</option>
                                        <option>Wood Framed and Other</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="people">
                        <div id="box-unit">
                            <div class="page-header">
                                <h2>People</h2>
                            </div>
                            <div class="row">
                                <div class="span4">
                                    <h4>People Density</h4>
                                    <div class="input-append">
                                        <input class="span2" id="appendedInput" type="text" placeholder="building type default" disabled>
                                        <span class="add-on">People/m&sup2;</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="lighting">
                        <div id="box-unit">
                            <div class="page-header">
                                <h2>Lighting
                                    <small>by DAYSIM</small>
                                </h2>
                            </div>
                            <div class="row">
                                <div class="span4">
                                    <h4>Lighting Power Density</h4>
                                    <div class="input-append">
                                        <input class="span2" id="appendedInput" type="text">
                                        <span class="add-on">W/m&sup2;</span>
                                    </div>
                                    <h4>Window Head Height</h4>
                                    <div class="input-append">
                                        <input class="span2" id="appendedInput" type="text" placeholder="floor to top of window">
                                        <span class="add-on">m</span>
                                    </div>
                                    <h4>Wall Thickness</h4>
                                    <div class="input-append">
                                        <input class="span2" id="appendedInput" type="text">
                                        <span class="add-on">m</span>
                                    </div>
                                    <h4>Shading Device</h4>
                                    <select class="span3">
                                        <option>Horizontal Blinds</option>
                                        <option>Fabric Shades</option>
                                        <option>None</option>
                                    </select>
                                </div>
                                <div class="span4">
                                    <h4>Floor Reflectance</h4>
                                    <input id="floorSlider" type="range" class="span2"
                                    min="0" max="1" step="0.01" onchange="printValue('floorSlider','floorRangeValue')"
                                    />
                                    <input id="floorRangeValue" type="number" class="span1" min="0" max="1"
                                    step="0.01" />
                                    <h4>Ceiling Reflectance</h4>
                                    <input id="ceilingSlider" type="range" class="span2"
                                    min="0" max="1" step="0.01" onchange="printValue('ceilingSlider','ceilingRangeValue')"
                                    />
                                    <input id="ceilingRangeValue" type="number" class="span1" min="0" max="1"
                                    step="0.01" />
                                    <h4>Wall Reflectance</h4>
                                    <input id="wallSlider" type="range" class="span2"
                                    min="0" max="1" step="0.01" onchange="printValue('wallSlider','wallRangeValue')"
                                    />
                                    <input id="wallRangeValue" type="number" class="span1" min="0" max="1"
                                    step="0.01" />
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="mechanical">
                        <div id="box-unit">
                            <div class="page-header">
                                <h2>Mechanical</h2>
                            </div>
                            <div class="row">
                                <div class="span4">
                                    <h4>Equipment Power Density</h4>
                                    <div class="input-append">
                                        <input class="span2" id="appendedInput" type="text" placeholder="building type default" disabled>
                                        <span class="add-on">W/m&sup2;</span>
                                    </div>
                                </div>
                                <div class="span4">
                                    <h4>Airtightness Assessment</h4>
                                    <select class="span3">
                                        <option>Leaky</option>
                                        <option>Average</option>
                                        <option>Tight</option>
                                    </select>
                                </div>
                            </div>
                            <h2 class="text-right">
                                <small>HVAC system type & efficiency are based on building type defaults, Airtightness optimized by CONTAM</small>
                            </h2>
                    </section>
                    <section id="schedules">
                        <div id="box-unit">
                            <div class="page-header">
                                <h2>Schedules</h2>
                                <h2>
                                    <small>Occupancy, lighting, equipment schedules are based on building type defaults</small>
                                </h2>
                            </div>
                            <a href="http://www.energycodes.gov/development/commercial/90.1_models">
                            <img src="img/schedules/large_office.png" class="img-polaroid"></a>
                            <h2 class="text-right">
                                <small>based off of
                                    <a href="http://www.energycodes.gov/development/commercial/90.1_models">PNNL's Commercial Prototype Building Models</a>
                                </small>
                            </h2>
                        </div>
                    </section>
                    <section id="conservation">
                        <div id="box-unit">
                            <div class="page-header">
                                <h2>Energy Conservation Measures</h2>
                                <h2>
                                    <small>Choose ECMs to add to your baseline (coming soon)</small>
                                </h2>
                            </div>
                            <label class="checkbox">
                                <input type="checkbox" disabled>Lighting Upgrade</label>
                            <label class="checkbox">
                                <input type="checkbox" disabled>Window Upgrade</label>
                            <label class="checkbox">
                                <input type="checkbox" disabled>Economizer</label>
                        </div>
                    </section>
                    <div id="box-unit">
                        <input class="btn btn-large btn-primary" type="submit" value="SIMULATE">
                        <a class="btn btn-large btn-info" href="http://128.118.67.241/tools.eebhub.org/energy-use.php"><i class="icon-signal"></i> Example Outputs</a>
                        <h2 class="text-right">
                            <small>powered by OpenStudio SDK + EnergyPlus, DAYSIM, CONTAM Engines</small>
                        </h2>
                    </div>
                    </form>
                </div>
            </div>
            <!-- Javascript -->
            <script src="http://code.jquery.com/jquery.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <script src="js/bootstrap-scrollspy.js"></script>
            <script src="js/bootstrap-fileupload.js"></script>
    </body>

</html>