<!DOCTYPE html>
<html>
    
    <head>
        <title>EEB Hub Simulation Platform Tools</title>
        <!--<meta http-equiv="refresh"
        content="0; url=http://tools.eebhub.org/lite"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/stylesheet.css" rel="stylesheet">
        <link href="css/bootstrap-responsive.min.css" rel="stylesheet">
        <style type="text/css">
            body {
                padding-top: 60px;
                padding-bottom: 40px;
                background-color: rgb(229, 229, 229);
                
            }
        </style>
    </head>
    
    <body data-spy="scroll" data-target="#sidebar">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="/">EEB Hub Simulation Platform</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li>
                                <a href="/lite">Lite</a>
                            </li>
                            <li>
                                <a href="/partial">Partial</a>
                            </li>
                            <li>
                                <a href="/substantial">Substantial</a>
                            </li>
                            <li><a href="/comprehensive">Comprehensive</a></li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <br/>
        <h1 class="text-center">Simulate building energy online.</h1>
        <br/>
        <hr/>
        <br/>
        <div class="row-fluid">
            <div class="span3">
                <h3 class="text-center">Lite</h3>
                <span class="house-center"><a class="svg" href="/lite">
                <img src="img/lite-house.svg" alt="lite simulation" width="130" height="130"/>
                </a></span>
                <h6 class="text-center gray-small">utility bills</h6>
                <h6 class="text-center gray-small">energy use intensity</h6>
                <h5 class="text-center">for building owners</h5>
            </div>
            <div class="span3">
                <h3 class="text-center">Partial</h3>
                <span class="house-center"><a href="/partial">
                <img src="img/partial-house.svg" alt="partial simulation" width="130" height="130"/>
                </a></span>
                <h6 class="text-center gray-small">typical room</h6>
                <h6 class="text-center gray-small">systems benchmark</h6>
                <h5 class="text-center">for building designers</h5>
            </div>
            <div class="span3">
                <h3 class="text-center">Substantial</h3>
                <span class="house-center"><a href="/substantial">
                 <img src="img/substantial-house.svg" alt="substantial simulation" width="130" height="130"/>
                </a></span>
                <h6 class="text-center gray-small">shape of building</h6>
                <h6 class="text-center gray-small">subsystem audit</h6>
                <h5 class="text-center">for building auditors</h5>
            </div>
            <div class="span3">
                <h3 class="text-center">Comprehensive</h3>
                <span class="house-center"><a href="/comprehensive">
                 <img src="img/comprehensive-house.svg" alt="comprehensive simulation" width="130" height="130"/>
                </a></span>
                <h6 class="text-center gray-small">import 3D geometry</h6>
                <h6 class="text-center gray-small">installation staging</h6>
                <h5 class="text-center">for building analysts</h5>
            </div>
        </div>
        <br/>
        <hr/>
        <br/>
        <h2 class="text-center">What is a simulation platform?</h2>
        <div class="pagination-centered"><img src="img/simulation.png" alt="simulation" /></div>
        <h4 class="text-center">a SIMULATION is a technique of representing the real world with the virtual world.</h4>
        <br/>
        <div class="pagination-centered"><img src="img/cloud.png" alt="cloud" /></div>
        <h4 class="text-center">the PLATFORM includes server hardware, a cloud operating system, & a suite of interconnected software tools.</h4>
        <br/>
        <div class="pagination-centered"><img src="img/buildings.png" alt="buildings" /></div>
        <h4 class="text-center">Building industry stakeholders will be empowered to make informed decisions on how to reduce energy consumption in buildings. </h4>
        <br/>
        <br/>
        <hr/>
        <br/>
        <br/>
        <div class="pagination-centered"><img src="img/eebhub-gray.png" width="120" height="86" alt="eebhub"/></div>
        <h4 class="text-center">The EEB Hub is pioneering the web tool to make this possible, proven, &amp; easy. &#8194;Learn More...</h4>
        <br/>
        <div class="pagination-centered">
        <iframe src='https://skydrive.live.com/embed?cid=16B20B2C9752FBFF&resid=16B20B2C9752FBFF%21214&authkey=ALtCkkH41pF9YQY&em=2&wdAr=1.3333333333333333'
        width='610px' height='480px' frameborder='0'>This is an embedded
            <a target='_blank' href='http://office.com'>Microsoft Office</a>presentation, powered by
            <a target='_blank' href='http://office.com/webapps'>Office Web Apps</a>.</iframe>
        </div>
        <br/>
        <h5 class="text-center">Project vision &amp; history at <a href="http://simulation.eebhub.org">simulation.eebhub.org</a>.</h5>
        <br/>
        <hr/>
        <br/>
        <h5 class="text-center">Built by the <a href="http://www.eebhub.org">Energy Efficient Buildings HUB</a>, a <a href="http://energy.gov/science-innovation/innovation/hubs">U.S. Department of Energy Innovation HUB</a>.</h5>
        <h5 class="text-center">Our simulation & modeling team includes PSU, MIT, CMU, UMaryland, UPenn, IBM, UTRC, Balfour Beatty, NIST, & NREL.</h5>
        <h5 class="text-center"><a href="https://github.com/eebhub/platform/blob/master/ACKNOWLEDGEMENT_DISCLAIMER">Acknowledgement & Disclaimer</a>. &#8194;</h5>
        <!-- Intro -->
        <!-- Javascript -->
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        
          ga('create', 'UA-26348074-7', 'eebhub.org');
          ga('send', 'pageview');
        
        </script>
    </body>

</html>