<!DOCTYPE html>
<html ng-app="modal">

<head>
    <title>EEB Hub Simulation Platform</title>
    <!--<meta http-equiv="refresh"
        content="0; url=http://tools.eebhub.org/lite"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/stylesheet.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.7.0.js"></script>
    <script src="js/modal.js"></script>
</head>

<body style="background:url('../img/wood1.jpg') fixed;">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="/">EEB Hub Simulation Platform</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li>
                            <a href="/lite">LITE</a>
                        </li>
                        <li>
                            <a href="/partial">PARTIAL</a>
                        </li>
                        <li>
                            <a href="/substantial">SUBSTANTIAL</a>
                        </li>
                        <li>
                            <a href="/comprehensive">COMPREHENSIVE</a>
                        </li>
                    </ul>
                    
                    <div class="pull-right text-right">
                        <ul class="nav pull-right">
                            <script>
                                            var username = "<%= username %>";
                                            if (username!='undefined'){
                                            document.write('<li><a href="/mydashboard">My Dashboard</a></li><li><a href="/logout">LOGOUT</a></li>');
                                            }else {
                                                document.write('<li><a href="/signup">SIGNUP</a></li><li><a href="/signin">LOGIN</a></li>');
                                            }
                                 
                                            
                            </script>
						</ul>
                    </div>
                    
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <!--Main Page-->
    
    <div class="tagline row-fluid">
        <h1 class="text-center">Simulate building energy online.</h1>
    </div>
    <div class="row-fluid levels">
        <div class="span3">
            <h3 class="text-center">Lite</h3>
            <span class="house-center">
                <a class="svg" href="/lite">
                    <img src="img/lite-house.svg" alt="lite simulation" width="130" height="130" />
                </a>
            </span>
            <h5 class="text-center gray">benchmark EUI</h5>
            <h5 class="text-center">for building owners</h5>
        </div>
        <div class="span3">
            <h3 class="text-center">Partial</h3>
            <span class="house-center">
                <a href="/partial">
                    <img src="img/partial-house.svg" alt="partial simulation" width="130" height="130" />
                </a>
            </span>
            <h5 class="text-center gray">systems benchmark</h5>
            <h5 class="text-center">for building designers</h5>
        </div>
        <div class="span3">
            <h3 class="text-center">Substantial</h3>
            <span class="house-center">
                <a href="/substantial">
                    <img src="img/substantial-house.svg" alt="substantial simulation" width="130" height="130" />
                </a>
            </span>
            <h5 class="text-center gray">subsystems audit</h5>
            <h5 class="text-center">for building auditors</h5>
        </div>
        <div class="span3">
            <h3 class="text-center">Comprehensive</h3>
            <span class="house-center">
                <a href="/comprehensive">
                    <img src="img/comprehensive-house.svg" alt="comprehensive simulation" width="130" height="130" />
                </a>
            </span>
            <h5 class="text-center gray">retrofit staging</h5>
            <h5 class="text-center">for building analysts</h5>
        </div>
    </div>

    <div class="about row-fluid">
        <h2 class="text-center">What is a simulation platform?</h2>
        <div class="pagination-centered">
            <a href="http://rmt.eebhub.org/comprehensive2/energy-use_example.php"><img src="img/simulation.png" alt="simulation"/></a>
        </div>
        <h4 class="text-center">a SIMULATION is a technique of representing the real world with the virtual world</h4>
        <br/>
        <div class="pagination-centered">
            <a href="infrastructure"><img src="img/cloud.png" alt="cloud" /></a>
        </div>
        <h4 class="text-center">the PLATFORM includes <a href="infrastructure" style="color: inherit;">server hardware, a cloud operating system</a>, & a<a href="integration" style="color: inherit;"> suite of interconnected software tools</a></h4>
        <br/>
        <div class="pagination-centered">
            <a href="vision"><img src="img/buildings.png" alt="buildings" /></a>
        </div>
        <h4 class="text-center">building industry stakeholders will be empowered to make informed decisions on <a href="http://rmt.eebhub.org/game/tracking-sheet.php" style="color: inherit;">how to REDUCE ENERGY consumption in BUILDINGS</a></h4>
        <br/>
        <div class="pagination-centered">
            <a href="http://www.eebhub.org"><img src="img/eebhub-gray7.png" width="120" height="86" alt="eebhub" /></a>
        </div>
        <h4 class="text-center">the Energy Efficient Buildings Hub is pioneering the tools to make this possible, proven, &amp; easy</h4>
    </div>
    <div class="learn row-fluid">
        <div class="span12 pagination-centered"><img src="img/platform2.png" width="193" height="86" alt="eebhub" style="margin-bottom:10px;"/></div>
        <h3 class="text-center">4 web tools &#9679; 4 levels of complexity</h3>
        <br>
        <div class="pagination-centered">
            <div ng-controller="ModalDemoCtrl">
                <script type="text/ng-template" id="myModalContent.html">
                    <div class="modal" style="width:600px;">
                    <div class="modal-body" style="max-height:480px;">
                        <iframe src='https://skydrive.live.com/embed?cid=16B20B2C9752FBFF&resid=16B20B2C9752FBFF%21214&authkey=ALtCkkH41pF9YQY&em=2&wdAr=1.3333333333333333'
                    width='570px' height='450px' frameborder='0'>This is an embedded
                        <a target='_blank' href='http://office.com'>Microsoft Office</a>presentation, powered by
                        <a target='_blank' href='http://office.com/webapps'>Office Web Apps</a>.</iframe>
                    </div>
                    </div>
                </script>
                <div class="span8 offset2 pagination-centered">
                <img src="img/home/workflow2.png" style="cursor:pointer;" ng-click="open()">
                </div>
            </div>
        </div>
        <br>
        <h3 class="span12 text-center" style="padding:30px;">powered by 10+ building simulation software packages</h3>
        <div class="span8 offset2 pagination-centered"><a href="integration"><img src="img/home/software2.png" style="cursor:pointer;"></a></div>
        <h3 class="span12 text-center" style="padding:25px;">designed to ENGAGE owners & SUPPORT decision making in building retrofit projects. <a href="presentation"> learn more.</a></h3>
        <h2 class="span12 text-center"><a href="lite" class="btn btn-large btn-success">Start Now</a></h2>
    </div> 
    <div class="subscribe row-fluid">
        <h2 class="text-center">SUBSCRIBE</h2>
            <br>
            <!-- Begin MailChimp Signup Form --> 
            <!--<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">-->
             <div class="pagination-centered">
                 <div id="mc_embed_signup"> 
                    <form action="http://eebhub.us7.list-manage.com/subscribe/post?u=2368150e5ed73d7788cb50531&amp;id=83b4ba8ea6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate> 
                    <input type="email" value="" name="EMAIL" class="email text-center" id="mce-EMAIL" placeholder="email address" style="width:300px;" required> 
                    <div class="clear">
                        <input type="submit" value="Subscribe to News & Updates" name="subscribe" id="mc-embedded-subscribe" class="btn" style="font-weight:bold;width:313px;">
                    </div> 
                    </form> 
                 </div> <!--End mc_embed_signup-->
                 <a href="news"><input type="button" value="Current News" class="btn" style="font-weight:bold;width:313px;"></a>
             </div>
    </div>
    <div class="collaborate row-fluid">
        <h2 class="text-center">COLLABORATE</h2>
        <br>
        <div class="row-fluid">
        <div class="span4 pagination-centered">
                <a href="code">
                    <img src="img/iconmonstr-html-code-icon.svg" alt="substantial simulation" width="130" height="130" />
                </a>
            <h3 class="text-center">code</h3>
        </div>
        <div class="span4 pagination-centered">
                <a href="inspiration">
                    <img src="img/iconmonstr-window-layout-icon.svg" alt="substantial simulation" width="130" height="130" />
                </a>
            <h3 class="text-center">user interface</h3>
        </div>
        <div class="span4 pagination-centered">
                <a href="visitors">
                    <img src="img/iconmonstr-user-14-icon.svg" alt="substantial simulation" width="130" height="130" />
                </a>
            <h3 class="text-center">visitors</h3>
        </div>
        </div>
    </div>
    <div class="team row-fluid">
        <h2 class="text-center">TEAM</h2>
    </div>
    
    
    <img class="team-image" src="img/task2-small.jpg" />
    
    
    <div class="institutions row-fluid">
        <div class="span12 pagination-centered" style="padding-bottom:40px;">
            <img class="grey" src="img/home/eebhub-home.png" style="width:200px;">
        </div>
        <div class="span2 offset1 pagination-centered">
            <img class="grey" src="img/home/mit-home2.png">
        </div>
        <div class="span2 pagination-centered">
            <img class="grey" src="img/home/cmu-home.png">
        </div>
        <div class="span2 pagination-centered">
            <img class="grey" src="img/home/psu-home.png">
        </div>
        <div class="span2 pagination-centered">
            <img class="grey" src="img/home/upenn-home.png">
        </div>
        <div class="span2 pagination-centered">
            <img class="grey" src="img/home/maryland-home.png">
        </div>
        <div class="span12">&nbsp;</div>
        
            <div class="span2 offset1 pagination-centered">
                <img class="grey" src="img/home/balfour-home2.png">
            </div>
            <div class="span2 pagination-centered">
                <img class="grey" src="img/home/utrc-home.png">
            </div>
            <div class="span2 pagination-centered">
                <img class="grey" src="img/home/ibm-home.png">
            </div>
            <div class="span2 pagination-centered">
                <img class="grey" src="img/home/nist-home.png">
            </div>
            <div class="span2 pagination-centered">
                <img class="grey" src="img/home/nrel-home.png">
            </div>
        
    
    </div>
    
    <div class="contact row-fluid">
        <h2 class="text-center">CONTACT US</h2>
        <br>
        <div class="row-fluid">
        <div class="span4 pagination-centered">
                <a href="https://eebhub.uservoice.com/clients/widgets/classic_widget?mode=support&locale=en&forum_id=224458&support_tab_name=Contact%20EEB%20Hub%20Software%20Support&contact_us=true&custom_template_id=16740&context=site2&embed_type=lightbox&contact_enabled=true&feedback_enabled=false&smartvote=true&default_mode=support&referrer=http%3A%2F%2Feebhub.uservoice.com%2F#contact_us">
                    <img src="img/iconmonstr-help-3-icon.svg" width="130" height="130" />
                </a>
            <h3 class="text-center">question</h3>
        </div>
        <div class="span4 pagination-centered">
                <a href="ideas">
                    <img src="img/iconmonstr-light-bulb-18-icon.svg" width="130" height="130" />
                </a>
            <h3 class="text-center">new idea</h3>
        </div>
        <div class="span4 pagination-centered">
                <a href="https://github.com/eebhub/platform/issues">
                    <img src="img/iconmonstr-warning-4-icon.svg" width="130" height="130" />
                </a>
            <h3 class="text-center">report issue</h3>
        </div>
        </div>
    </div>
    <div class="footer">
        <br>
        <h5 class="text-center">Built by the <a href="http://www.eebhub.org">Energy Efficient Buildings HUB</a>, a <a href="http://energy.gov/science-innovation/innovation/hubs">U.S. Department of Energy Innovation HUB</a>.</h5>
        <h6 class="text-center" style="color:gray; font-weight:normal;">NOTE | We recommend Chrome, Firefox, or Safari web browsers. Internet Explorer is not fully supported. |
        COMMUNITY | 
            <a href="http://area51.stackexchange.com/proposals/45232/building-performance-simulation-analysis?tab=votes&phase=definition">Building Performance Q&A</a> | 
            <a href="https://bcl.nrel.gov/">NREL Building Component Library</a> |
            <a href="game">Retrofit Game</a>    
            </h6>
        <h6 class="text-center" style="color:gray; font-weight:normal;">PROJECT | 
            <a href="vision">Vision</a> | 
            <a href="reports">Reports</a> | 
            <a href="casestudies">Case Studies</a> | 
            <a href="presentations">Presentations</a> | 
            <a href="inspiration">Inspiration</a> |
            <a href="feedback">Stakeholder Feedback</a> | 
            <a href="comments">Comments</a> |
            IT | 
            <a href="infrastructure">Infrastructure</a> | 
            <a href="integration">Integration</a> | 
            <a href="developers">Developers</a> | 
            <a href="weather">Weather</a> | 
            <a href="mockups">Mockups</a> | 
            <a href="variables">Variables</a> | 
            <a href="database">Database</a> | 
            <a href="graphics">GUI Library</a> | 
            <a href="visitors">Pageviews</a>
        </h6>
        <h6 class="text-center" style="color:gray; font-weight:normal;">
            <a href="software">Existing Tools</a> | 
            <a href="wiki">Wiki Documentation</a> | 
            <a href="license">Open Source License</a> |
            <a href="disclaimer">Acknowledgement & Disclaimer</a>
        </h6>
        <br>
    </div>



    <!-- Javascript -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/skrollr.js"></script>

</body>

</html>