<!DOCTYPE html>
<html ng-app>
    
    <head>
        <title>EEB Hub Simulation Platform Tools</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/stylesheet.css" rel="stylesheet">
        <link href="css/partial.css" rel="stylesheet">
        <link href="css/bootstrap-responsive.min.css" rel="stylesheet">
        <style type="text/css">
            body {
                padding-top: 60px;
                padding-bottom: 40px;
                background-color: rgb(229, 229, 229);
            }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
        <script>
            function submitIMT() {
                var form = document.forms.liteForm;
                form.action = "/imtanalysis";
                form.submit();
            }
            function submitIBM() {
                var form = document.forms.liteForm;
                form.action = "/ibmanalysis";
                form.submit();
            }
            
        </script>
    </head>
    
    <body data-spy="scroll" data-target=".bs-docs-sidebar">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="brand">EEB Hub Simulation Platform</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active">
                                <a href="/lite">Lite</a>
                            </li>
                            <li>
                                <a href="/partial">Partial</a>
                            </li>
                            <li>
                                <a href="/substantial">Substantial</a>
                            </li>
                            <li>
                                <a href="/comprehensive">Comprehensive</a>
                            </li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <!-- Intro -->
        <div class="container">
            <div class="row">
                <div class="span3 bs-docs-sidebar">
                    <ul class="nav nav-list bs-docs-sidenav">
                        <li>
                            <h3>Lite
                                <small>-ASHRAE, IBM</small>
                            </h3>
                        </li>
                        <li>
                            <a href="#building"><i class="icon-map-marker"></i> Building</a>
                        </li>
                        <li>
                            <a href="#utilities"><i class="icon-list-alt"></i>Utilities</a>
                        </li>
                        <li>
                            <a href="#architecture"><i class="icon-home"></i>Architecture</a>
                        </li>
                    </ul>
                </div>
                <div class="span9">
                    <form action="" method="post" name="liteForm">
                        <section id="building">
                            <div class="box-unit">
                                <div class="page-header">
                                    <h2>Building</h2>
                                </div>
                                <div class="row">
                                    <div class="span4">
                                        <h4>Building Name</h4>
                                        <input class="span3" type="text" name="building_name">
                                        <br/>
                                        <h4>City</h4>
                                        <div class="input-append">
                                            <select class="span3" name="weather_epw_location">
                                                <option>Albuquerque, NM</option>
                                                <option>Baltimore, MD</option>
                                                <option>Boise, ID</option>
                                                <option>Burlington, VT</option>
                                                <option>Chicago, IL</option>
                                                <option>Duluth, MN</option>
                                                <option>El Paso, TX</option>
                                                <option>Fairbanks, AK</option>
                                                <option>Helena, MT</option>
                                                <option>Houston, TX</option>
                                                <option>Memphis, TN</option>
                                                <option>Miami, FL</option>
                                                <option>Pheonix, AZ</option>
                                                <option selected>Philadelphia, PA</option>
                                                <option>Riyadh, SAU</option>
                                                <option>Salem, OR</option>
                                                <option>San Francisco, CA</option>
                                                <option>Vancouver, CAN</option>
                                            </select>
                                            <span class="add-on">
                                                <a href="http://developer.eebhub.org/weather.html" target="_blank"><i class="icon-map-marker"></i></a>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <div>
                                            <h4>Function</h4>
                                            <select class="span3" name="activity_type">
                                                <option>Small Office</option>
                                                <option>Medium Office</option>
                                                <option>Large Office</option>
                                                <option>Stand-alone Retail</option>
                                                <option>Strip Mall</option>
                                                <option>Primary School</option>
                                                <option>Secondary School</option>
                                                <option>Outpatient Healthcare</option>
                                                <option>Hospital</option>
                                                <option>Small hotel</option>
                                                <option>Large Hotel</option>
                                                <option>Warehouse (non-refrigerated)</option>
                                                <option>Quick Service Restaurant</option>
                                                <option>Full Service Restaurant</option>
                                                <option>Mid-Rise Apartment</option>
                                                <option>High-Rise Apartment</option>
                                            </select>
                                        </div>
                                        <h4>Year Built</h4>
                                        <select class="span2" name="year_completed">
                                            <option>2013</option>
                                            <option>2012</option>
                                            <option>2011</option>
                                            <option>2010</option>
                                            <option>2009</option>
                                            <option>2008</option>
                                            <option>2007</option>
                                            <option>2006</option>
                                            <option>2005</option>
                                            <option>2004</option>
                                            <option>2003</option>
                                            <option>2002</option>
                                            <option>2001</option>
                                            <option>2000</option>
                                            <option>1999</option>
                                            <option>1998</option>
                                            <option>1997</option>
                                            <option>1996</option>
                                            <option>1995</option>
                                            <option>1994</option>
                                            <option>1993</option>
                                            <option>1992</option>
                                            <option>1991</option>
                                            <option>1990</option>
                                            <option>1989</option>
                                            <option>1988</option>
                                            <option>1987</option>
                                            <option>1986</option>
                                            <option>1985</option>
                                            <option>1984</option>
                                            <option>1983</option>
                                            <option>1982</option>
                                            <option>1981</option>
                                            <option>1980</option>
                                            <option>1979</option>
                                            <option>1978</option>
                                            <option>1977</option>
                                            <option>1976</option>
                                            <option>1974</option>
                                            <option>1973</option>
                                            <option>1972</option>
                                            <option>1971</option>
                                            <option>1970</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section id="utilities">
                            <div class="box-unit">
                                <div class="page-header">
                                    <h2>Utilities</h2>
                                </div>
                                <table class="table table-hover" id="utltable">
                                    <thead>
                                        <th class="span3">Billing Period Start Date</th>
                                        <th class="span3">Electricity (kWh)</th>
                                        <th class="span3">Gas (CCF)</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input type="date" class="span2" placeholder="mm/dd/yyyy" name="utility_startdate"
                                                 required />
                                            </td>
                                            <td>
                                                <input class="span2" type="number" min="0" step="0.1" placeholder="kWh"
                                                name="utility_electric" />
                                            </td>
                                            <td>
                                                <input class="span2" type="number" min="0" step="0.1" placeholder="CCF"
                                                name="utility_gas" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="date" class="span2" placeholder="mm/dd/yyyy" name="utility_startdate" required>
                                            </td>
                                            <td>
                                                <input class="span2" id="appendedInput" type="number" placeholder="kWh"
                                                name="utility_electric" />
                                            </td>
                                            <td>
                                                <input class="span2" type="number" min="0" step="0.1" placeholder="CCF"
                                                name="utility_gas">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="date" class="span2" placeholder="mm/dd/yyyy" name="utility_startdate" required>
                                            </td>
                                            <td>
                                                <input class="span2" type="number" min="0" step="0.1" placeholder="kWh"
                                                name="utility_electric" />
                                            </td>
                                            <td>
                                                <input class="span2" type="number" min="0" step="0.1" placeholder="CCF"
                                                name="utility_gas">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="date" class="span2" placeholder="mm/dd/yyyy" name="utility_startdate" required>
                                            </td>
                                            <td>
                                                <input class="span2" type="number" min="0" step="0.1" placeholder="kWh"
                                                name="utility_electric" />
                                            </td>
                                            <td>
                                                <input class="span2" type="number" min="0" step="0.1" placeholder="CCF"
                                                name="utility_gas">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="date" class="span2" placeholder="mm/dd/yyyy" name="utility_startdate" required>
                                            </td>
                                            <td>
                                                <input class="span2" type="number" min="0" step="0.1" placeholder="kWh"
                                                name="utility_electric" />
                                            </td>
                                            <td>
                                                <input class="span2" type="number" min="0" step="0.1" placeholder="CCF"
                                                name="utility_gas">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="date" class="span2" placeholder="mm/dd/yyyy" name="utility_startdate" required>
                                            </td>
                                            <td>
                                                <input class="span2" type="number" min="0" step="0.1" placeholder="kWh"
                                                name="utility_electric" />
                                            </td>
                                            <td>
                                                <input class="span2" type="number" min="0" step="0.1" placeholder="CCF"
                                                name="utility_gas">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="date" class="span2" placeholder="mm/dd/yyyy" name="utility_startdate" required>
                                            </td>
                                            <td>
                                                <input class="span2" type="number" min="0" step="0.1" placeholder="kWh"
                                                name="utility_electric" />
                                            </td>
                                            <td>
                                                <input class="span2" type="number" min="0" step="0.1" placeholder="CCF"
                                                name="utility_gas">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="date" class="span2" placeholder="mm/dd/yyyy" name="utility_startdate" required>
                                            </td>
                                            <td>
                                                <input class="span2" type="number" min="0" step="0.1" placeholder="kWh"
                                                name="utility_electric" />
                                            </td>
                                            <td>
                                                <input class="span2" type="number" min="0" step="0.1" placeholder="CCF"
                                                name="utility_gas">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="date" class="span2" placeholder="mm/dd/yyyy" name="utility_startdate" required>
                                            </td>
                                            <td>
                                                <input class="span2" type="number" min="0" step="0.1" placeholder="kWh"
                                                name="utility_electric" />
                                            </td>
                                            <td>
                                                <input class="span2" type="number" min="0" step="0.1" placeholder="CCF"
                                                name="utility_gas">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="date" class="span2" placeholder="mm/dd/yyyy" name="utility_startdate" required>
                                            </td>
                                            <td>
                                                <input class="span2" type="number" min="0" step="0.1" placeholder="kWh"
                                                name="utility_electric" />
                                            </td>
                                            <td>
                                                <input class="span2" type="number" min="0" step="0.1" placeholder="CCF"
                                                name="utility_gas">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="date" class="span2" placeholder="mm/dd/yyyy" name="utility_startdate" required>
                                            </td>
                                            <td>
                                                <input class="span2" type="number" min="0" step="0.1" placeholder="kWh"
                                                name="utility_electric" />
                                            </td>
                                            <td>
                                                <input class="span2" type="number" min="0" step="0.1" placeholder="CCF"
                                                name="utility_gas">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="date" class="span2" placeholder="mm/dd/yyyy" name="utility_startdate" required>
                                            </td>
                                            <td>
                                                <input class="span2" type="number" min="0" step="0.1" placeholder="kWh"
                                                name="utility_electric" />
                                            </td>
                                            <td>
                                                <input class="span2" type="number" min="0" step="0.1" placeholder="CCF"
                                                name="utility_gas">
                                            </td>
                                        </tr>
                                        <thead>
                                            <th class="span3">Billing Period End Date</th>
                                            <th class="span3">Electricity (kWh)</th>
                                            <th class="span3">Gas (CCF)</th>
                                        </thead>
                                        <tr>
                                            <td>
                                                <input type="date" class="span2" placeholder="mm/dd/yyyy" name="utility_startdate" required>
                                            </td>
                                            <td>
                                                <input class="span2" type="number" min="0" step="0.1" placeholder="kWh"
                                                name="utility_electric" disabled/>
                                            </td>
                                            <td>
                                                <input class="span2" type="number" min="0" step="0.1" placeholder="CCF"
                                                name="utility_gas" disabled>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                        
                        <section id="architecture">
                            <div class="box-unit">
                                <div class="page-header">
                                    <h2>Architecture <small>required for IBM Analysis</small>
                                    </h2>
                                </div>
                                <div class="row">
                                    <div class="span4">
                                        <h4>Gross Floor Area</h4>
                                        <div class="input-append">
                                            <input type="number" min="0" step="0.1" name="gross_floor_area" />
                                            <span class="add-on">m&#178;</span>
                                        </div>
                                        <h4>Height</h4>
                                        <div class="input-append">
                                            <input type="number" name="building_height" min="0" step="0.01" />
                                            <span class="add-on">m</span>
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <h4>Length</h4>
                                        <div class="input-append">
                                            <input type="number" name="building_length" min="0" step="0.01" />
                                            <span class="add-on">m</span>
                                        </div>
                                        <h4>Width</h4>
                                        <div class="input-append">
                                            <input type="number" name="building_width" min="0" step="0.01" />
                                            <span class="add-on">m</span>
                                        </div>
                                        <h4>Orientation</h4>
                                        <ul class="inline">
                                            <li>
                                                <input type="range" ng-model="orientation" name="building_orientation"
                                                min="0" max="360" step="15" value={{orientation}}/>
                                            </li>
                                            <li>
                                                <div class="input-append">
                                                    <input class="span1" type="text" value={{orientation}} ng-model="orientation"
                                                    />
                                                    <span class="add-on">&deg;</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="box-unit">
                        <button type="submit" onclick="submitIMT()" class="btn btn-large btn-primary">SIMULATE</button>
                            
                            <button type="button" class="btn btn-large btn-info">
                                <i class="icon-plus"></i>Building 101 Data</button>
                            <a class="btn btn-large btn-info" href="literesults"><i class="icon-signal"></i> Example Outputs</a>
                            <h2 class="text-right">
                                <small>powered by ASHRAE Inverse Modeling Toolkit</small>
                            </h2>
                        </div>
                        
                    </form>

                        <div class="box-unit">
                            <button onclick="submitIBM()" class="btn btn-large btn-primary">SIMULATE</button>
                            <button type="button" class="btn btn-large btn-info">
                                <i class="icon-plus"></i>Building 101 Data</button>
                            <a class="btn btn-large btn-info" href="http://eebhub.minus.com/lbeVXp00yjiSNe/"><i class="icon-signal"></i> Example Outputs</a>
                            <h2 class="text-right">
                                <small>powered by IBM Inverse Model Engine</small>
                            </h2>
                        </div>

                </div>
            </div>
        </div>
        <!-- Javascript -->
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/bootstrap-scrollspy.js"></script>
    </body>

</html>