<!DOCTYPE html>
<html>
    
    <head>
        <title>EEB Hub Simulation Platform Tools</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/stylesheet.css" rel="stylesheet">
        <link href="css/partial.css" rel="stylesheet">
        <link href="css/bootstrap-responsive.min.css" rel="stylesheet">
        <style type="text/css">
            body {
                padding-top: 60px;
                padding-bottom: 40px;
                background-color: rgb(229, 229, 229);
            }
        </style>
    </head>
    
    <body data-spy="scroll" data-target=".bs-docs-sidebar">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="brand">EEB Hub Simulation Platform</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active">
                                <a href="lite">Lite</a>
                            </li>
                            <li>
                                <a href="partial">Partial</a>
                            </li>
                            <li>
                                <a href="substantial">Substantial</a>
                            </li>
                            <li>
                                <a href="comprehensive">Comprehensive</a>
                            </li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <!-- Intro -->
        <div class="container">
            <div class="row">
                <div class="span3 bs-docs-sidebar">
                    <ul class="nav nav-list bs-docs-sidenav">
                        <li>
                            <h3>Lite
                                <small>-ASHRAE IMT</small>
                            </h3>
                        </li>
                        <li>
                            <a href="#building"><i class="icon-chevron-right"></i> Building</a>
                        </li>
                        <li>
                            <a href="#utility"><i class="icon-chevron-right"></i>Utility Data</a>
                        </li>
                    </ul>
                </div>
                <div class="span9">
                    <form action="/liteanalysis" method="post">
                        <section id="building">
                            <form action="/liteanalysis" method="post">
                                <div class="box-unit">
                                    <div class="page-header">
                                        <h2>Building</h2>
                                    </div>
                                    <div class="row">
                                        <div class="span4">
                                            <h4>Building Name</h4>
                                            <input class="span3" type="text" name="building[building_name]">
                                            <br/>
                                            <h4>Year Built</h4>
                                            <select class="span2" name="building[year_completed]">
                                                <option>2013</option>
                                                <option>2012</option>
                                                <option>2011</option>
                                                <option>2010</option>
                                                <option>2009</option>
                                                <option>2008</option>
                                                <option>2007</option>
                                                <option>2006</option>
                                                <option>2005</option>
                                                <option>2004</option>
                                                <option>2003</option>
                                                <option>2002</option>
                                                <option>2001</option>
                                                <option>2000</option>
                                                <option>1999</option>
                                                <option>1998</option>
                                                <option>1997</option>
                                                <option>1996</option>
                                                <option>1995</option>
                                                <option>1994</option>
                                                <option>1993</option>
                                                <option>1992</option>
                                                <option>1991</option>
                                                <option>1990</option>
                                                <option>1989</option>
                                                <option>1988</option>
                                                <option>1987</option>
                                                <option>1986</option>
                                                <option>1985</option>
                                                <option>1984</option>
                                                <option>1983</option>
                                                <option>1982</option>
                                                <option>1981</option>
                                                <option>1980</option>
                                                <option>1979</option>
                                                <option>1978</option>
                                                <option>1977</option>
                                                <option>1976</option>
                                                <option>1974</option>
                                                <option>1973</option>
                                                <option>1972</option>
                                                <option>1971</option>
                                                <option>1970</option>
                                            </select>
                                        </div>
                                        <div class="span4">
                                            <div>
                                                <h4>Function</h4>
                                                <select class="span3" name="building[activity_type]">
                                                    <option>Small Office</option>
                                                    <option>Medium Office</option>
                                                    <option>Large Office</option>
                                                    <option>Stand-alone Retail</option>
                                                    <option>Strip Mall</option>
                                                    <option>Primary School</option>
                                                    <option>Secondary School</option>
                                                    <option>Outpatient Healthcare</option>
                                                    <option>Hospital</option>
                                                    <option>Small hotel</option>
                                                    <option>Large Hotel</option>
                                                    <option>Warehouse (non-refrigerated)</option>
                                                    <option>Quick Service Restaurant</option>
                                                    <option>Full Service Restaurant</option>
                                                    <option>Mid-Rise Apartment</option>
                                                    <option>High-Rise Apartment</option>
                                                </select>
                                            </div>
                                            <h4>City</h4>
                                            <select class="span3" name="building[weather_epw_location]">
                                                <option>Albuquerque, NM (4B)</option>
                                                <option>Baltimore, MD (4A)</option>
                                                <option>Boise, ID (5B)</option>
                                                <option>Burlingotn, NH (6A)</option>
                                                <option>Chicago, IL (5A)</option>
                                                <option>Duluth, MN (7)</option>
                                                <option>El Paso, TX (3B)</option>
                                                <option>Fairbanks, AK (8)</option>
                                                <option>Helena, MT (6B)</option>
                                                <option>Houston, TX (2A)</option>
                                                <option>Memphis, TN (3A)</option>
                                                <option>Miami, FL (1A)</option>
                                                <option>Pheonix, AZ (2B)</option>
                                                <option>Philadelphia, PA (4A)</option>
                                                <option>Riyadh, SAU (1B)</option>
                                                <option>Salem, MA (4C)</option>
                                                <option>San Francisco, CA (3C)</option>
                                                <option>Vancouver, CAN (5C)</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                        </section>
                        <section id="utility">
                            <div class="box-unit">
                                <div class="page-header">
                                    <h2>Utility Data</h2>
                                </div>
                                <table class="table table-hover" id="utltable">
                                    <thead>
                                        <th class="span3">Billing Period Start Date</th>
                                        <th class="span3">Electricity (kWh)</th>
                                        <th class="span3">Gas (CCF)</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input type="date" class="span2" placeholder="mm/dd/yyy" name="utility[utility_startdate]"
                                                />
                                            </td>
                                            <td>
                                                <input class="span2" type="number" min="0" step="0.1" placeholder="kWh"
                                                name="utility[utility_electric]" /></td>
                                            <td>
                                                <input class="span2" type="number" min="0" step="0.1" placeholder="CCF"
                                                name="utility[utility_gas]" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="date" class="span2" placeholder="mm/dd/yyy" name="utility[utility_startdate]">
                                            </td>
                                            <td>
                                                <input class="span2" id="appendedInput" type="number" placeholder="kWh"
                                                name="utility[utility_electric]" /></td>
                                            <td>
                                                <input class="span2" type="number" min="0" step="0.1" placeholder="CCF"
                                                name="utility[utility_gas]">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="date" class="span2" placeholder="mm/dd/yyy" name="utility[utility_startdate]">
                                            </td>
                                            <td>
                                                <input class="span2" type="number" min="0" step="0.1" placeholder="kWh"
                                                name="utility[utility_electric]" />
                                            </td>
                                            <td>
                                                <input class="span2" type="number" min="0" step="0.1" placeholder="CCF"
                                                name="utility[utility_gas]">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="date" class="span2" placeholder="mm/dd/yyy" name="utility[utility_startdate]">
                                            </td>
                                            <td>
                                                <input class="span2" type="number" min="0" step="0.1" placeholder="kWh"
                                                name="utility[utility_electric]" />
                                            </td>
                                            <td>
                                                <input class="span2" type="number" min="0" step="0.1" placeholder="CCF"
                                                name="utility[utility_gas]">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="date" class="span2" placeholder="mm/dd/yyy" name="utility[utility_startdate]">
                                            </td>
                                            <td>
                                                <input class="span2" type="number" min="0" step="0.1" placeholder="kWh"
                                                name="utility[utility_electric]" />
                                            </td>
                                            <td>
                                                <input class="span2" type="number" min="0" step="0.1" placeholder="CCF"
                                                name="utility[utility_gas]">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="date" class="span2" placeholder="mm/dd/yyy" name="utility[utility_startdate]">
                                            </td>
                                            <td>
                                                <input class="span2" type="number" min="0" step="0.1" placeholder="kWh"
                                                name="utility[utility_electric]" />
                                            </td>
                                            <td>
                                                <input class="span2" type="number" min="0" step="0.1" placeholder="CCF"
                                                name="utility[utility_gas]">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="date" class="span2" placeholder="mm/dd/yyy" name="utility[utility_startdate]">
                                            </td>
                                            <td>
                                                <input class="span2" type="number" min="0" step="0.1" placeholder="kWh"
                                                name="utility[utility_electric]" />
                                            </td>
                                            <td>
                                                <input class="span2" type="number" min="0" step="0.1" placeholder="CCF"
                                                name="utility[utility_gas]">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="date" class="span2" placeholder="mm/dd/yyy" name="utility[utility_startdate]">
                                            </td>
                                            <td>
                                                <input class="span2" type="number" min="0" step="0.1" placeholder="kWh"
                                                name="utility[utility_electric]" />
                                            </td>
                                            <td>
                                                <input class="span2" type="number" min="0" step="0.1" placeholder="CCF"
                                                name="utility[utility_gas]">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="date" class="span2" placeholder="mm/dd/yyy" name="utility[utility_startdate]">
                                            </td>
                                            <td>
                                                <input class="span2" type="number" min="0" step="0.1" placeholder="kWh"
                                                name="utility[utility_electric]" />
                                            </td>
                                            <td>
                                                <input class="span2" type="number" min="0" step="0.1" placeholder="CCF"
                                                name="utility[utility_gas]">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="date" class="span2" placeholder="mm/dd/yyy" name="utility[utility_startdate]">
                                            </td>
                                            <td>
                                                <input class="span2" type="number" min="0" step="0.1" placeholder="kWh"
                                                name="utility[utility_electric]" />
                                            </td>
                                            <td>
                                                <input class="span2" type="number" min="0" step="0.1" placeholder="CCF"
                                                name="utility[utility_gas]">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="date" class="span2" placeholder="mm/dd/yyy" name="utility[utility_startdate]">
                                            </td>
                                            <td>
                                                <input class="span2" type="number" min="0" step="0.1" placeholder="kWh"
                                                name="utility[utility_electric]" />
                                            </td>
                                            <td>
                                                <input class="span2" type="number" min="0" step="0.1" placeholder="CCF"
                                                name="utility[utility_gas]">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="date" class="span2" placeholder="mm/dd/yyy" name="utility[utility_startdate]">
                                            </td>
                                            <td>
                                                <input class="span2" type="number" min="0" step="0.1" placeholder="kWh"
                                                name="utility[utility_electric]" />
                                            </td>
                                            <td>
                                                <input class="span2" type="number" min="0" step="0.1" placeholder="CCF"
                                                name="utility[utility_gas]">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button class="btn" onclick="addRow('utltable')">
                                    <i class="icon-plus"></i>
                                </button>
                                <button class="btn" onclick="deleteRow('utltable')">
                                    <i class="icon-minus"></i>
                                </button>
                            </div>
                        </section>
                        <br />
                        <div class="box-unit">
                        <input type="submit" class="btn btn-success" value="Run Inverse Modeling Toolkit" />
                            
                        </div>
                    </form>  
                    <div class="box-unit">
                        <a href="literesults"><button class="btn btn-success ">Sample Results</button> </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Javascript -->
        <script>
            function addRow(tableID) {
                var table = document.getElementById(tableID);

                var rowCount = table.rows.length;
                var row = table.insertRow(rowCount);

                var cell1 = row.insertCell(0);
                var element1 = document.createElement("input");
                element1.className = "span2";
                element1.type = "date";
                element1.name = "utility[utility_startdate]";

                cell1.appendChild(element1);

                var cell2 = row.insertCell(1);
                var element2 = document.createElement("input");
                element2.type = "number";
                element2.placeholder = "kWh";
                element2.className = "span2";
                element2.name = "utility[utility_electric]"
                cell2.appendChild(element2);

                var cell3 = row.insertCell(2);
                var element3 = document.createElement("input");
                element3.type = "number";
                element3.placeholder = "CCF";
                element3.className = "span2";
                element3.name = "utility[utility_gas]";
                cell3.appendChild(element3);
            }

            function deleteRow(tableID) {
                var table = document.getElementById(tableID);
                var rowCount = table.rows.length;
                table.deleteRow(rowCount - 1);
            }
        </script>
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/bootstrap-scrollspy.js"></script>
    </body>

</html>