<!DOCTYPE html>
<html ng-app>
    <!-- test-->
    <head>
<title>EEB Hub Simulation Platform Tools</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/stylesheet.css" rel="stylesheet">
        <link href="/css/partial.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/bootstrap-switch.css" />
        <style type="text/css">
            body {
                padding-top: 60px;
                padding-bottom: 40px;
                background-color: rgb(229, 229, 229);
            }
        </style>
        <script>
            function printValue(sliderID, textbox) {
                var x = document.getElementById(textbox);
                var y = document.getElementById(sliderID);
                x.value = y.value;
            }

            window.onload = function() {
                printValue('ceilingSlider', 'ceilingRangeValue');
                printValue('floorSlider', 'floorRangeValue');
                printValue('groundSlider', 'groundRangeValue');
                printValue('wallSlider', 'wallRangeValue');
                printValue('shadingDeviceSlider', 'shadingDeviceRangeValue');
                printValue('overhangSlider', 'overhangRangeValue');
                printValue('exteriorSlider', 'exteriorRangeValue');
                printValue('interiorSlider', 'interiorRangeValue');
                printValue('obstructionSlider', 'obstructionRangeValue');
            }
        </script>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="js/building101Data.js"></script>
        <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
        
    </head>
    
    <body data-spy="scroll" data-target=".bs-docs-sidebar">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="/">EEB Hub Simulation Platform</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li>
                                <a href="/lite">Lite</a>
                            </li>
                            <li>
                                <a href="/partial">Partial</a>
                            </li>
                            <li class="active">
                                <a href="/substantial">Substantial</a>
                            </li>
                            <li>
                                <a href="/comprehensive">Comprehensive</a>
                            </li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <!-- Intro -->
        <div class="container">
            <div class="row">
                <div class="span3 bs-docs-sidebar">
                    <ul class="nav nav-list bs-docs-sidenav">
                        <li>
                            <h3>Substantial
                                <small>-UTRC</small>
                            </h3>
                        </li>
                        <li>
                            <h4 ng-cloak>{{buildingName}}</h4>
                        </li>
                        <li>
                            <a href="#building"><i class="icon-map-marker"></i> Building</a>
                        </li>
                        <li>
                            <a href="#architecture"><i class="icon-home"></i> Architecture</a>
                        </li>
                        <li>
                            <a href="#materials"><i class="icon-th-large"></i> Materials</a>
                        </li>
                        <li>
                            <a href="#people"><i class="icon-user"></i> People</a>
                        </li>
                        <li>
                            <a href="#mechanical"><i class="icon-cog"></i> Mechanical</a>
                        </li>
                         <li>
                            <a href="#schedules"><i class="icon-time"></i> Schedules</a>
                        </li>
                    </ul>
                </div>
                
                
                <div class="span9">


                <form action="/substantialresults" method="post" name="platformForm">

                    <section id="building">
                        <div id="box-unit">
                            <div class="page-header">
                                <table>
                                        <tr>
                                            <td>
                                                <h2>Building</h2>
                                            </td>
                                            <td class="span7">
                                                <div class="pull-right text-right">
                                                <button type="button" onclick="building101Data()" class="btn">
                                                    <i class="icon-plus"></i><b>Building 101 Data</b></button>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                            </div>
                            <div class="row">
                                <div class="span4">
                                    <h4>Building Name</h4>
                                    <input type="text" class="span3" ng-model="buildingName" name="building_name" 
                                    />
                                    <br/>
                                    <h4>Climate</h4>
                                    <div class="input-append">
                                        <select class="span3" name="weather_epw_location">
                                            <option value="ALBUQUERQUE INTL ARPT [ISIS]">Albuquerque, NM</option>
                                            <option value="BALTIMORE BLT-WASHNGTN INT'L">Baltimore, MD</option>
                                            <option value="BOISE AIR TERMINAL [UO]">Boise, ID</option>
                                            <option value="BURLINGTON INTERNATIONAL AP">Burlingotn, NH</option>
                                            <option value="CHICAGO OHARE INTL AP">Chicago, IL</option>
                                            <option value="DULUTH INTERNATIONAL ARPT">Duluth, MN</option>
                                            <option value="EL PASO INTERNATIONAL AP [UT]">El Paso, TX</option>
                                            <option value="FAIRBANKS INTL ARPT">Fairbanks, AK</option>
                                            <option value="HELENA REGIONAL AIRPORT">Helena, MT</option>
                                            <option value="HOUSTON BUSH INTERCONTINENTAL">Houston, TX</option>
                                            <option value="MEMPHIS INTERNATIONAL AP">Memphis, TN</option>
                                            <option value="MIAMI INTL AP">Miami, FL</option>
                                            <option value="PHOENIX SKY HARBOR INTL AP">Pheonix, AZ</option>
                                            <option value="PHILADELPHIA INTERNATIONAL AP" selected>Philadelphia, PA</option>
                                            <option value="">Riyadh, SAU</option>
                                            <option value="SALEM MCNARY FIELD">Salem, MA</option>
                                            <option value="SAN FRANCISCO INTL AP">San Francisco, CA</option>
                                            <option value="">Vancouver, CAN</option>
                                        </select>
                                        <span class="add-on">
                                            <a href="http://developer.eebhub.org/weather.html" target="_blank"><i class="icon-map-marker"></i></a>
                                        </span>
                                    </div>
                                </div>
                                <div class="span4">
                                <h4>Function</h4>
                                    <select class="span2" name="activity_type">
                                        <option value="Education">Education</option>
                                        <option value="Enclosed mall">Enclosed mall</option>
                                        <option value="Food sale">Food sale</option>
                                        <option value="Food service">Food service</option>
                                        <option value="Inpatient health care">Inpatient health care</option>
                                        <option value="Laboratory">Laboratory</option>
                                        <option value="Lodging">Lodging</option>
                                        <option value="Non refriferation warehouse">Non refrigeration warehouse</option>
                                        <option value="Nursing">Nursing</option>
                                        <option value="Office">Office</option>
                                        <option value="Other">Other</option>
                                        <option value="Outpatient health care">Outpatient health care</option>
                                        <option value="Public assembly">Public assembly</option>
                                        <option value="Public order and safety">Public order and safety</option>
                                        <option value="Refrigerated warehouse">Refrigerated warehouse</option>
                                        <option value="Religious worship">Religious worship</option>
                                        <option value="Retail other than mall">Retail other than mall</option>
                                        <option value="Service">Service</option>
                                        <option value="Strip shopping mall">Strip shopping mall</option>
                                        <option value="vacant">vacant</option>
                                    </select>
                                <h4>More Specific Building Activity</h4>
                                    <select class="span2" name="activity_type_specific">
                                        <option>Administrative/professional office</option>
                                        <option>Bank/other financial</option>
                                        <option>Clinic/other outpatient health</option>
                                        <option>College/university</option>
                                        <option>Convenience store</option>
                                        <option>Convenience store with gas station</option>
                                        <option>Distribution/shipping center</option>
                                        <option>Dormitory/fraternity/sorority</option>
                                        <option>Elementary/middle school</option>
                                        <option>Enclosed mall</option>
                                        <option>Entertainment/culture</option>
                                        <option>Fast food</option>
                                        <option>Fire station/police station</option>
                                        <option>Government office</option>
                                        <option>Grocery store/food market</option>
                                        <option>High school</option>
                                        <option>Hospital/inpatient health</option>
                                        <option>Hotel</option>
                                        <option>Laboratory</option>
                                        <option>Library</option>
                                        <option>Medical office(diagnostic)</option>
                                        <option>Medical office(non-diagnostic)</option>
                                        <option>Mixed-use office</option>
                                        <option>Motel or inn</option>
                                        <option>Non-refrigerated warehouse</option>
                                        <option>Nursing house/assisted living</option>
                                        <option>Other</option>
                                        <option>Other classroom education</option>
                                        <option>Other food sales</option>
                                        <option>Other food service</option>
                                        <option>Other lodging</option>
                                        <option>Other office</option>
                                        <option>Other public assembly</option>
                                        <option>Other public order and safety</option>
                                        <option>Other retail</option>
                                        <option>Other service</option>
                                        <option>Post office/postal center</option>
                                        <option>Preschool/daycare</option>
                                        <option>Recreation</option>
                                        <option>Refrigerated warehouse</option>
                                        <option>Religious worship</option>
                                        <option>Repair shop</option>
                                        <option>Restaurant/cafeteria</option>
                                        <option>Retail store</option>
                                        <option>Self-storage</option>
                                        <option>Social/meeting</option>
                                        <option>Strip shopping mall</option>
                                        <option>vacant</option>
                                        <option>Vehicle dealership/showroom</option>
                                        <option>Vehicle service/repair shop</option>
                                        <option>Vehicle storage/maintenance</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </section>
                    
        <section id="architecture">
                <div id="box-unit">
                    <div class="page-header">
                        <h2>Architecture <small>shape of building</small></h2>
                    </div>
                    <div class="row">
                        <div class="span4">
                            <h4>Gross Floor Area</h4>
                            <div class="input-append">
                                <input type="number" name="gross_floor_area" min="0" step="0.01" />
                                <span class="add-on">ft&#178;</span>
                            </div>
                            <h4>Number of Floors</h4>
                            <input type="number" name="number_of_floors"
                            min="0" step="1" />
                            <h4>Window/Wall Ratio</h4>
                                        <ul class="inline">
                                            <li>
                                                <input type="range" ng-model="winwall" name="window_to_wall_ratio" min="0"
                                                max="40" step="1" value=50/>
                                            </li>
                                            <li>
                                                <div class="input-append">
                                                    <input class="span1" type="text" value={{winwall}} ng-model="winwall"
                                                    />
                                                    <span class="add-on">%</span>
                                                </div>
                                            </li>
                                        </ul>
                        </div>
                        <div class="span4">
                            <h4>Shape</h4>
                            <select name="footprint_shape" ng-model="shapeimage">
                                <option>E Shaped</option>
                                <option>H Shaped</option>
                                <option>L Shaped</option>
                                <option>Narrow rectangle</option>
                                <option>Other Shape</option>
                                <option>plug sign or cross shaped</option>
                                <option>Rectangle/square with courtyard</option>
                                <option>Square</option>
                                <option>T shaped</option>
                                <option>U shaped</option>
                                <option>Unspecified</option>
                                <option>Wide rectangle</option>
                            </select>
                            <h4>Total Building Height</h4>
                                <div class="input-append">
                                <input type="number" name="building_height" min="0" step="1" />
                                <span class="add-on">ft</span>
                                </div>   
                            <h4>Perimeter</h4>
                                <div class="input-append">
                                <input type="number" name="perimeter" min="0" step="1" />
                                <span class="add-on">ft</span>
                                </div>      
                        </div>
                    </div>
                </div>
        </section>
                    

        


                    <section id="materials">
                        <div id="box-unit">
                            <div class="page-header">
                                <h2>Materials</h2>
                            </div>
                            <div class="row">
                                <div class="span4">
                                    <h4>Walls</h4>
                                    <select class="span2" name="exterior_wall_type">
                                        <option>Brick</option>
                                        <option>Stone</option>
                                        <option>Stucco</option>
                                        <option>other</option>
                                    </select>
                                    <h4>Windows</h4>
                                    <select class="span2 " name="window_glass_type">
                                        <option>Multi-layer Glass</option>
                                        <option>Single Layer Glass</option>
                                        <option>Combination</option>
                                        <option>No Windows</option>
                                        <option>Unknown</option>
                                    </select>
                                </div>
                                <div class="span4">
                                    <h4>Roof</h4>
                                    <select class="span2" name="roof_type">
                                        <option>Brick</option>
                                        <option>Stone</option>
                                        <option>Stucco</option>
                                        <option>other</option>
                                    </select>                                    
                                </div>
                            </div>
                        </div>
                    </section>   

                        <section id="people">
                            <div class="box-unit">
                                <div class="page-header">
                                    <h2>People</h2>           
                                </div>
                                
                                <h4>Number of Employees During Main Shift</h4>
                                <input type="number" class="span2" name="number_of_employees_during_main_shift" min="0" step="1" />
                                <span class="add-on"></span>
                                
                            </div>
                        </section>
                
            
                    <section id="mechanical">
                        <div id="box-unit">
                            <div class="page-header">
                                <h2>Mechanical</h2>
                            </div>
                            <div class="row">
                                <div class="span4">
                                    <h4>Primary HVAC System Type</h4>
                                    <select name="primary_hvac_type">
                                        <option>Direct evap cooler</option>
                                        <option>Direct evap cooler, unit heaters</option>
                                        <option>Direct chilled water fan coil</option>
                                        <option>Direct hot water baseboards</option>
                                        <option>Direct hot water baseboards, direct evap cooler</option>
                                        <option>Dual-duct CAV</option>
                                        <option>Dual-duct VAV</option>
                                        <option>Electric baseboards</option>
                                        <option>Electric baseboards, direct evap cooler</option>
                                        <option>Fan coil chiller</option>
                                        <option>Fan coil, district chilled water and boiler</option>
                                        <option>Fan coil, district chilled water, electric baseboards</option>
                                        <option>Fan coil, district chilled water, unit heaters</option>
                                        <option>Fan coil, district hot and cold water</option>
                                        <option>Fan coil, District hot water and chiller</option>
                                        <option>Forced air furnace</option>
                                        <option>Forced air furnace, direct evap cooler</option>
                                        <option>Forced air furnace, district chilled water fan coil</option>
                                        <option>Heat pump heating</option>
                                        <option>Heat pump heating, direct evap cooler</option>
                                        <option>Hot water baseboards</option>
                                        <option>Hot water baseboards, direct evap cooler</option>
                                        <option>Package VAV w/PFP boxes</option>
                                        <option>Package VAV w/reheat</option>
                                        <option>PSZ-A/C w/electric baseboards</option>
                                        <option>PSZ-AC</option>
                                        <option>PSZ-AC (no heat)</option>
                                        <option>PSZ-AC w/district hot water</option>
                                        <option>PSZ-HP</option>
                                        <option>PTAC (no heat)</option>
                                        <option>PTAC air source</option>
                                        <option>PTAC w/district hot water</option>
                                        <option>PTAC w/electric baseboards</option>
                                        <option>PTAC with gas coil heat</option>
                                        <option>PTHP air source</option>
                                        <option>Radiantial heating and cooling</option>
                                        <option>Residential A/C (no heat)</option>
                                        <option>Residential A/C w/electric baseboards</option>
                                        <option>Residential forced air</option>
                                        <option>Residential forced air cooling, hot water baseboards</option>
                                        <option>Residential forced air w/district hot water</option>
                                        <option>Residential heat pump</option>
                                        <option>Unit heaters</option>
                                        <option>VAV cool with zone heat pump heating</option>
                                        <option>VAV w/electric baseboards</option>
                                        <option>VAV w/gas reheat</option>
                                        <option>VAV w/PFP boxes</option>
                                        <option>VAV w/Reheat</option>
                                        <option>VAV w/zone unit heaters</option>
                                        <option>Window A/C</option>
                                        <option>Window A/C w/district hot water</option>
                                        <option>Window A/C w/forced air furnace</option>
                                        <option>Window A/C w/hot water baseboards</option>
                                        <option>Window A/C, electric baseboards</option>
                                        <option>Window A/C, unit heater</option>
                                    </select>
                                    
                                    <h4>Main Heating</h4>

                                    <input type="checkbox" checked name="electricity_used_for_main_heating"> Electricity

                                    <input type="checkbox" name="natural_gas_used_for_main_heating"> Natural Gas</br>
                                    
                                    <input type="checkbox" name="fuel_oil_used_for_main_heating"> Fuel Oil
                                    
                                    <input type="checkbox" name="propane_used_for_main_heating"> Propane</br>
                                    
                                    <input type="checkbox" name="district_steam_used_for_main_heating"> District Steam
                                    
                                    <input type="checkbox" name="district_hot_water_used_for_main_heating"> District Hot Water</br>
                                    <!--<h4>Electricity used for main heating</h4>-->
                                
                                    <!--<div class="make-switch">-->
                                    <!--<input type="checkbox" name="electricity_used_for_main_heating">-->
                                    <!--</div>-->
                                    
                                    <!--<h4>Natural gas used for main heating</h4>-->
                                
                                    <!--<div class="make-switch">-->
                                    <!--<input type="checkbox" name="natural_gas_used_for_main_heating">-->
                                    <!--</div>-->
                                
                                    <!--<h4>Fuel oil used for main heating</h4>-->
                                
                                    <!--<div class="make-switch">-->
                                    <!--<input type="checkbox" name="fuel_oil_used_for_main_heating">-->
                                    <!--</div>-->
                                    
                                    <!--<h4>Propane used for main heating</h4>-->
                               
                                    <!--<div class="make-switch">-->
                                    <!--<input type="checkbox" name="propane_used_for_main_heating">-->
                                    <!--</div>-->
                                    
                                    <!--<h4>District steam used for main heating</h4>-->
                               
                                    <!--<div class="make-switch">-->
                                    <!--<input type="checkbox" name="district_steam_used_for_main_heating">-->
                                    <!--</div>-->
                                    
                                    <!--<h4>District hot water used for main heating</h4>-->
                               
                                    <!--<div class="make-switch">-->
                                    <!--<input type="checkbox" name="district_hot_water_used_for_main_heating">-->
                                    <!--</div>-->
                                    
                                    
                                    <h4>Cooling</h4>
                                    
                                    <input type="checkbox" checked name="electricity_used_for_cooling"> Electricity
                                    
                                    <input type="checkbox" name="natural_gas_used_for_cooling"> Natural Gas</br>
                                    
                                    <input type="checkbox" name="fuel_oil_used_for_cooling"> Fuel Oil
                                    
                                    <input type="checkbox" name="propane_used_for_cooling"> Propane</br>
                                    
                                    <input type="checkbox" name="district_steam_used_for_cooling"> District Steam
                                    
                                    <input type="checkbox" name="district_hot_water_used_for_cooling"> District Hot Water</br>
                                    
                                    <input type="checkbox" name="district_chilled_water_used_for_cooling"> District Chilled Water</br>
                                    
                                    
                                    <!--<h4>Electricity used for cooling</h4>-->
                               
                                    <!--<div class="make-switch">-->
                                    <!--<input type="checkbox" name="electricity_used_for_cooling">-->
                                    <!--</div>-->
                                    
                                    <!--<h4>Natural gas used for cooling</h4>-->
                               
                                    <!--<div class="make-switch">-->
                                    <!--<input type="checkbox" name="natural_gas_used_for_cooling">-->
                                    <!--</div>-->
                                    
                                    <!--<h4>Fuel oil used for cooling</h4>-->
                               
                                    <!--<div class="make-switch">-->
                                    <!--<input type="checkbox" name="fuel_oil_used_for_cooling">-->
                                    <!--</div>-->
                                
                                </div>
                                <div class="span4">
                                    <!--<h4>Propane used for cooling</h4>-->
                               
                                    <!--<div class="make-switch">-->
                                    <!--<input type="checkbox" name="propane_used_for_cooling">-->
                                    <!--</div>-->
                                    
                                    <!--<h4>District steam used for cooling</h4>-->
                               
                                    <!--<div class="make-switch">-->
                                    <!--<input type="checkbox" name="district_steam_used_for_cooling">-->
                                    <!--</div>-->
                        
                                    <!--<h4>District hot water used for cooling</h4>-->
                               
                                    <!--<div class="make-switch">-->
                                    <!--<input type="checkbox" name="district_hot_water_used_for_cooling">-->
                                    <!--</div>-->
                                    
                                    <!--<h4>District chilled water used for cooling</h4>-->
                               
                                    <!--<div class="make-switch">-->
                                    <!--<input type="checkbox" name="district_chilled_water_used_for_cooling">-->
                                    <!--</div>-->
                                    </br>
                                    </br>
                                    </br>
                                    </br>
                                    <h4>Water Heating</h4>
                                    
                                    <input type="checkbox" name="electricity_used_for_water_heating"> Electricity
                                    <input type="checkbox" name="natural_gas_used_for_water_heating"> Natural Gas</br>
                                    <input type="checkbox" name="fuel_oil_used_for_water_heating"> Fuel Oil
                                    <input type="checkbox" name="propane_used_for_water_heating"> Propane</br>
                                    <input type="checkbox" name="district_steam_used_for_water_heating"> District Steam
                                    <input type="checkbox" name="district_hot_water_used_for_water_heating"> District Hot Water</br>
                                    
                                    <!--<h4>Electricity used for water heating</h4>-->
                               
                                    <!--<div class="make-switch">-->
                                    <!--<input type="checkbox" name="electricity_used_for_water_heating">-->
                                    <!--</div>-->
                        
                                    <!--<h4>Natural gas used for water heating</h4>-->
                               
                                    <!--<div class="make-switch">-->
                                    <!--<input type="checkbox" name="natural_gas_used_for_water_heating">-->
                                    <!--</div>-->
                                    
                                    <!--<h4>Fuel oil used for water heating</h4>-->
                               
                                    <!--<div class="make-switch">-->
                                    <!--<input type="checkbox" name="fuel_water_used_for_water_heating">-->
                                    <!--</div>-->
                                    
                                    <!--<h4>Propane used for water heating</h4>-->
                               
                                    <!--<div class="make-switch">-->
                                    <!--<input type="checkbox" name="propane_used_for_water_heating">-->
                                    <!--</div>-->
                                    
                                    <!--<h4>District steam used for water heating</h4>-->
                               
                                    <!--<div class="make-switch">-->
                                    <!--<input type="checkbox" name="district_steam_used_for_water_heating">-->
                                    <!--</div>-->
                                    
                                    <!--<h4>District hot water used for water heating</h4>-->
                               
                                    <!--<div class="make-switch">-->
                                    <!--<input type="checkbox" name="district_hot_water_used_for_water_heating">-->
                                    <!--</div>-->
                                    
                                </div>
                            </div>
                        </div>
                    </section>
                    
                    
                    <section id="schedules">
                        <div id="box-unit">
                            <div class="page-header">
                                <h2>Schedules</h2>
                            </div>
                            <div class="row">
                            <div class="span4">
                            
                            <h4>Open 24 hours a day</h4>
                            <div class="make-switch">
                            <input name="open_24_hours_a_day" type="checkbox"/>
                            </div>
                                                        
                            <h4>Total Weekly Operating Hours</h4>
                            <div class="input-append">
                            <input class="span2" type="number" name="average_weekly_operating_hours"><span class="add-on">hrs</span>
                            </div>
                            
                            <h4>Open During Week</h4>
                            <div class="make-switch">
                            <input name="open_during_week" type="checkbox" checked />
                            </div>
                            
                            <h4>Open On Weekend</h4>
                            <div class="make-switch">
                            <input name="open_on_weekend" type="checkbox" />
                            </div>
                            
                            <h4>Weekday Occupancy Hours</h4>
                            <h5>Day Start</h5>
                            <select name="weekday_occupancy_hours_day_start">
                            <option value="12AM">12AM</option>
                            <option value="1AM">1AM</option>
                            <option value="2AM">2AM</option>
                            <option value="3AM">3AM</option>
                            <option value="4AM">4AM</option>
                            <option value="5AM">5AM</option>
                            <option value="6AM">6AM</option>
                            <option value="7AM">7AM</option>
                            <option value="8AM">8AM</option>
                            <option value="9AM">9AM</option>
                            <option value="10AM">10AM</option>
                            <option value="11AM">11AM</option>
                            <option value="12PM">12PM</option>
                            <option value="1PM">1PM</option>
                            <option value="2PM">2PM</option>
                            <option value="3PM">3PM</option>
                            <option value="4PM">4PM</option>
                            <option value="5PM">5PM</option>
                            <option value="6PM">6PM</option>
                            <option value="7PM">7PM</option>
                            <option value="8PM">8PM</option>
                            <option value="9PM">9PM</option>
                            <option value="10PM">10PM</option>
                            <option value="11PM">11PM</option>
                            <select/>
                            <h5>Day End</h5>
                            <select name="weekday_occupancy_hours_day_end">
                            <option>12AM</option>
                            <option>1AM</option>
                            <option>2AM</option>
                            <option>3AM</option>
                            <option>4AM</option>
                            <option>5AM</option>
                            <option>6AM</option>
                            <option>7AM</option>
                            <option>8AM</option>
                            <option>9AM</option>
                            <option>10AM</option>
                            <option>11AM</option>
                            <option>12PM</option>
                            <option>1PM</option>
                            <option>2PM</option>
                            <option>3PM</option>
                            <option>4PM</option>
                            <option>5PM</option>
                            <option>6PM</option>
                            <option>7PM</option>
                            <option>8PM</option>
                            <option>9PM</option>
                            <option>10PM</option>
                            <option>11PM</option>
                            </select>
                            </div>
                            
                            <div class="span4">
                                
                                <h4>Saturday Occupancy Hours</h4>
                                <h5>Day Start</h5>
                                <select name="saturday_occupancy_hours_day_start">
                                <option>12AM</option>
                                <option>1AM</option>
                                <option>2AM</option>
                                <option>3AM</option>
                                <option>4AM</option>
                                <option>5AM</option>
                                <option>6AM</option>
                                <option>7AM</option>
                                <option>8AM</option>
                                <option>9AM</option>
                                <option>10AM</option>
                                <option>11AM</option>
                                <option>12PM</option>
                                <option>1PM</option>
                                <option>2PM</option>
                                <option>3PM</option>
                                <option>4PM</option>
                                <option>5PM</option>
                                <option>6PM</option>
                                <option>7PM</option>
                                <option>8PM</option>
                                <option>9PM</option>
                                <option>10PM</option>
                                <option>11PM</option>
                                </select>
                                <h5>Day End</h5>
                                <select name="saturday_occupancy_hours_day_end">
                                <option>12AM</option>
                                <option>1AM</option>
                                <option>2AM</option>
                                <option>3AM</option>
                                <option>4AM</option>
                                <option>5AM</option>
                                <option>6AM</option>
                                <option>7AM</option>
                                <option>8AM</option>
                                <option>9AM</option>
                                <option>10AM</option>
                                <option>11AM</option>
                                <option>12PM</option>
                                <option>1PM</option>
                                <option>2PM</option>
                                <option>3PM</option>
                                <option>4PM</option>
                                <option>5PM</option>
                                <option>6PM</option>
                                <option>7PM</option>
                                <option>8PM</option>
                                <option>9PM</option>
                                <option>10PM</option>
                                <option>11PM</option>
                                </select>
                                <h4>Sunday Occupancy Hours</h4>
                                <h5>Day Start</h5>
                                <select name="sunday_occupancy_hours_day_start">
                                <option>12AM</option>
                                <option>1AM</option>
                                <option>2AM</option>
                                <option>3AM</option>
                                <option>4AM</option>
                                <option>5AM</option>
                                <option>6AM</option>
                                <option>7AM</option>
                                <option>8AM</option>
                                <option>9AM</option>
                                <option>10AM</option>
                                <option>11AM</option>
                                <option>12PM</option>
                                <option>1PM</option>
                                <option>2PM</option>
                                <option>3PM</option>
                                <option>4PM</option>
                                <option>5PM</option>
                                <option>6PM</option>
                                <option>7PM</option>
                                <option>8PM</option>
                                <option>9PM</option>
                                <option>10PM</option>
                                <option>11PM</option>
                                </select>
                                <h5>Day End</h5>
                                <select name="sunday_occupancy_hours_day_end">
                                <option>12AM</option>
                                <option>1AM</option>
                                <option>2AM</option>
                                <option>3AM</option>
                                <option>4AM</option>
                                <option>5AM</option>
                                <option>6AM</option>
                                <option>7AM</option>
                                <option>8AM</option>
                                <option>9AM</option>
                                <option>10AM</option>
                                <option>11AM</option>
                                <option>12PM</option>
                                <option>1PM</option>
                                <option>2PM</option>
                                <option>3PM</option>
                                <option>4PM</option>
                                <option>5PM</option>
                                <option>6PM</option>
                                <option>7PM</option>
                                <option>8PM</option>
                                <option>9PM</option>
                                <option>10PM</option>
                                <option>11PM</option>
                                </select>
                            </div>    
                        </div>        
                        </div>
                    </section>

    


                <div class="box-unit">
                    <input type="submit" class="btn btn-large btn-primary" value="SIMULATE"/>
                    <!--<button type="button" class="btn btn-large btn-info"><i class="icon-plus"></i> Building 101 Data</button>-->
                    <!--<a class="btn btn-large btn-info" href="substantialresults"><i class="icon-signal"></i> Example Outputs</a>-->
                    <h2 class="text-right"><small>powered by UTRC Energy Audit Tool Engine</small></h2>
                
                <!--<div id="progressbar"></div>-->
           
               
                </div>
        
        
                <div class="box-unit">
                <a class="btn btn-large btn-info" href="http://developer.eebhub.org/upenn/"><i class="icon-star-empty"></i> Parametric Analysis Toolkit for System Control</a>
                <h2 class="text-right"><small>powered by Parametric Analysis Toolkit (UPenn)</small></h2>
                </div>
                

        
        
        </form>                
                    
                    
            
                    
                    
                </div>
            </div>
        </div>
        <!-- Javascript -->
        

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
        <script src="/js/bootstrap-switch.min.js"></script>  
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/bootstrap-scrollspy.js"></script>
    </body>

</html>
