<!DOCTYPE html>
<html ng-app="modal">

<head>
    <title>EEB Hub Simulation Platform</title>
    <!--<meta http-equiv="refresh"
        content="0; url=http://tools.eebhub.org/lite"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/stylesheet.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.7.0.js"></script>
    <script src="js/modal.js"></script>
</head>

<body style="background:url('../img/wood1.jpg') fixed;">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="/">EEB Hub Simulation Platform</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li>
                            <a href="/lite">LITE</a>
                        </li>
                        <li>
                            <a href="/partial">PARTIAL</a>
                        </li>
                        <li>
                            <a href="/substantial">SUBSTANTIAL</a>
                        </li>
                        <li>
                            <a href="/comprehensive">COMPREHENSIVE</a>
                        </li>
                    </ul>
                    
                   
                    
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <!--Main Page-->
    
    
    <div class="footer">
        <br>
        <h5 class="text-center">Built by the <a href="http://www.eebhub.org">Energy Efficient Buildings HUB</a>, a <a href="http://energy.gov/science-innovation/innovation/hubs">U.S. Department of Energy Innovation HUB</a>.</h5>
        <h6 class="text-center" style="color:gray; font-weight:normal;">NOTE | We recommend Chrome, Firefox, or Safari web browsers. Internet Explorer is not fully supported. |
        COMMUNITY | 
            <a href="http://area51.stackexchange.com/proposals/45232/building-performance-simulation-analysis?tab=votes&phase=definition">Building Performance Q&A</a> | 
            <a href="https://bcl.nrel.gov/">NREL Building Component Library</a> |
            <a href="game">Retrofit Game</a>    
            </h6>
        <h6 class="text-center" style="color:gray; font-weight:normal;">PROJECT | 
            <a href="vision">Vision</a> | 
            <a href="reports">Reports</a> | 
            <a href="casestudies">Case Studies</a> | 
            <a href="presentations">Presentations</a> | 
            <a href="inspiration">Inspiration</a> |
            <a href="feedback">Stakeholder Feedback</a> | 
            <a href="comments">Comments</a> |
            IT | 
            <a href="infrastructure">Infrastructure</a> | 
            <a href="integration">Integration</a> | 
            <a href="developers">Developers</a> | 
            <a href="weather">Weather</a> | 
            <a href="mockups">Mockups</a> | 
            <a href="variables">Variables</a> | 
            <a href="database">Database</a> | 
            <a href="graphics">GUI Library</a> | 
            <a href="visitors">Pageviews</a>
        </h6>
        <h6 class="text-center" style="color:gray; font-weight:normal;">
            <a href="software">Existing Tools</a> | 
            <a href="wiki">Wiki Documentation</a> | 
            <a href="license">Open Source License</a> |
            <a href="disclaimer">Acknowledgement & Disclaimer</a>
        </h6>
        <br>
    </div>



    <!-- Javascript -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/skrollr.js"></script>

</body>

</html>