<!DOCTYPE html>
<html ng-app="modal">
    
    <head>
        <title>EEB Hub Simulation Platform</title>
        <!--<meta http-equiv="refresh" content="0;
        url=http://tools.eebhub.org/lite"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
        <link rel="icon" href="img/favicon.ico" type="image/x-icon">
        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/bootstrap-responsive.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link href="css/stylesheet.css" rel="stylesheet">
        <style>
            body {
                background:url('img/wood1.jpg') fixed;
                
            }
            li {
                list-style-type:none;
                font-size: 1.1em;
                text-align: center;
            }
            .rishadow {
                box-shadow: 0 0 5px 5px rgba(0, 11, 93, 0.5);
                -moz-box-shadow:0 0 5px 5px rgba(0, 11, 93, 0.5);
                -webkit-box-shadow:0 0 5px 5px rgba(0, 11, 93, 0.5);
                -webkit-transition:all 0.5s ease;
                -o-transition: all 0.5s ease;
                -moz-transition:all 0.5s ease;
                -ms-transition: all 0.5s ease;
                -kthtml-transition:all 0.5s ease;
                transition: all 0.5s ease;
            }
            .psshadow {
                box-shadow: 0 0 5px 5px rgba(93, 0, 29, 0.5);
                -moz-box-shadow:0 0 5px 5px rgba(93, 0, 29, 0.5);
                -webkit-box-shadow:0 0 5px 5px rgba(93, 0, 29, 0.5);
                -webkit-transition:all 0.5s ease;
                -o-transition: all 0.5s ease;
                -moz-transition:all 0.5s ease;
                -ms-transition: all 0.5s ease;
                -kthtml-transition:all 0.5s ease;
                transition: all 0.5s ease;
            }
            .nlshadow {
                box-shadow: 0 0 5px 5px rgba(0, 93, 18, 0.5);
                -moz-box-shadow:0 0 5px 5px rgba(0, 93, 18, 0.5);
                -webkit-box-shadow:0 0 5px 5px rgba(0, 93, 18, 0.5);
                -webkit-transition:all 0.5s ease;
                -o-transition: all 0.5s ease;
                -moz-transition:all 0.5s ease;
                -ms-transition: all 0.5s ease;
                -kthtml-transition:all 0.5s ease;
                transition: all 0.5s ease;
            }
            .noshadow {
                box-shadow: 0px 0px 0px rgba(0, 11, 93, 0.5), 0px 0px 0px rgba(0, 11, 93, 0.5);
                -webkit-transition:all 0.5s ease;
                -o-transition: all 0.5s ease;
                -moz-transition:all 0.5s ease;
                -ms-transition: all 0.5s ease;
                -kthtml-transition:all 0.5s ease;
                transition: all 0.5s ease;
            }
            .node circle {
                cursor: pointer;
                fill: #fff;
                stroke: steelblue;
                stroke-width: 2px;
            }
            .node text {
                font-size: 1.5em;
                cursor:pointer;
            }
            path.link {
                fill: none;
                stroke: #ccc;
                stroke-width: 1.5px;
            }
            img {
                margin-bottom: 10px;
            }
            img.credits {
                display: block;
                margin-left: auto;
                margin-right: auto;
                height: 25%;
                width: 25%;
            }
            div.credits {
                display: block;
                margin-left: auto;
                margin-right: auto;
                height: 20%;
                width: 20%;
            }
            div.credits-left {
                text-align: right;
            }
            div.credits-right {
                text-align: left;
            }
            div.vennLeft {
                width: 18%;
                float: left;
                padding-left:2%;
            }
            div.vennLeft img {
                height: 75%;
                width: 75%;
                margin-left: auto;
                margin-right: auto;
                display: block;
            }
            div.vennCenter {
                width: 60%;
                float: left;
            }
            div.vennRight {
                width: 18%;
                float: right;
                
            }
            div.vennRight img {
                height: 75%;
                width: 75%;
                margin-left: auto;
                margin-right: auto;
                display: block;
            }
            img.eebhub {
                height: 25%;
                width: 25%;
                margin-left: auto;
                margin-right: auto;
                display: block;
            }
            .vennDiagram {
                 background:rgb(51, 51, 51);;
            }
            .taskDiagram {
                background:rgb(223, 223, 223);
            }
        </style>
        <script src="js/jquery.js"></script>
    </head>
    
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="/">EEB Hub Simulation Platform</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li>
                                <a href="/lite">LITE</a>
                            </li>
                            <li>
                                <a href="/partial">PARTIAL</a>
                            </li>
                            <li>
                                <a href="/substantial">SUBSTANTIAL</a>
                            </li>
                            <li>
                                <a href="/comprehensive">COMPREHENSIVE</a>
                            </li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <!--Main Page-->
        <div class="vennDiagram">

        
            <div class="credits">
                <a href="#" class="eebhub">
                    <img src="img/home/eebhub-home.png" id="nl">
                </a>
               
            </div>

        

        <div class="row">
            <div class="vennLeft">
                <a href="#" class="mit">
                    <img src="img/home/mit-home2.png" id="ri">
                </a>
                <a href="#" class="cmu">
                    <img src="img/home/cmu-home.png" id="ri">
                </a>
                <a href="#" class="psu">
                    <img src="img/home/psu-home.png" id="ri">
                </a>
                <a href="#" class="upenn">
                    <img src="img/home/upenn-home.png" id="ri">
                </a>
                <a href="#" class="umd">
                    <img src="img/home/maryland-home.png" id="ri">
                </a>
                <a href="#" class="purdue">
                    <img src="img/home/purdue-home.png" id="ri">
                </a>

            </div>
            <div class="vennCenter">
                <div class="venn"></div>
            </div>
            <div class="vennRight">
                <a href="#" class="balfour">
                    <img src="img/home/balfour-home2.png" id="ps">
                </a>
                <a href="#" class="utrc">
                    <img src="img/home/utrc-home.png" id="ps">

                </a>
                <a href="#" class="ibm">
                    <img src="img/home/ibm-home.png" id="ps">
                </a>
                <a href="#" class="nist">
                    <img src="img/home/nist-home.png" id="nl">
                </a>
                <a href="#" class="nrel">
                    <img src="img/home/nrel-home.png" id="nl">
                </a>
                <a href="#" class="doe">
                    <img src="img/home/doe-home.png" id="nl">
                </a>

            </div>
        </div>
         <h3 class="text-center" style="color:rgb(160, 160, 160);">EEB Hub Simulation & Modeling Team 2013</h3>
         <br>
    </div>
        
        <div id="credits">
        
            <h2 style="text-align:center">PEOPLE</h2>
        
            <div class="row">
                <div class="span8 offset2">
                    <div id="balfour">
                        <div class="row">
                            <img src="img/home/balfour-home2.png" class="credits">
                            <div class="span4 credits-left">
                                <h3>COSTING</h3>
                            </div>
                            <div class="span4 credits-right">
                                <h3>Beaven Mace</h3>
                            </div>
                        </div>
                    </div>
                    <div id="cmu">
                        <div class="row">
                            <img src="img/home/cmu-home.png" class="credits">
                            <div class="span4 credits-left">
                                <h3>HVAC MATERIALS</h3>
                            </div>
                            <div class="span4 credits-right">
                                <h3>Adrian Chong</h3>
                                <h3>Haopeng Wang</h3>
                                <h3>Weili Xu</h3>
                                <h3>Shalini Ramesh</h3>
                                <h3>Rongpeng Zhang</h3>
                                <h3>Chao Ding</h3>
                                <h3>Khee Poh Lam</h3>
                            </div>
                        </div>
                    </div>
                    <div id="doe">
                        <div class="row">
                            <img src="img/home/doe-home.png" class="credits">
                            <div class="span4 credits-left">
                                <h3>SPONSOR</h3>
                            </div>
                            <div class="span4 credits-right">
                                <h3>Amir Roth</h3>
                            </div>
                        </div>
                    </div>
                    <div id="eebhub">
                        <div class="row">
                            <img src="img/home/eebhub-home.png" class="credits">
                            <div class="span4 credits-left">
                                <h3>SIMULATION PLATFORM</h3>
                            </div>
                            <div class="span4 credits-right">
                                <h3>Joshua R. Wentz</h3>
                                <h3>Ke Xu</h3>
                                <h3>Payam Delgoshaei</h3>
                                <h3>Ying Sun</h3>
                            </div>
                        </div>
                    </div>
                    <div id="ibm">
                        <div class="row">
                            <img src="img/home/ibm-home.png" class="credits">
                            <div class="span4 credits-left">
                                <h3>INVERSE MODELING</h3>
                            </div>
                            <div class="span4 credits-right">
                                <h3>Rui Zhang</h3>
                                <h3>Steve E. Meliksetian</h3>
                                <h3>Young M. Lee</h3>
                            </div>
                        </div>
                    </div>
                    <div id="mit">
                        <div class="row">
                            <img src="img/home/mit-home2.png" class="credits">
                            <div class="span4 credits-left">
                                <h3>COOLVENT</h3>
                            </div>
                            <div class="span4 credits-right">
                                <h3>Karine Ip Kiun Chong</h3>
                            </div>
                            <div class="span4 credits-left">
                                <h3>DESIGN ADVISOR</h3>
                            </div>
                            <div class="span4 credits-right">
                                <h3>Andrew Mandelbaum</h3>
                            </div>
                            <div class="span4 credits-left">
                                <h3>URBN WEATHER GENERATOR</h3>
                            </div>
                            <div class="span4 credits-right">
                                <h3>Christoph Reinhart</h3>
                                <h3>Leslie Norford</h3>
                                <h3>Aiko Nakano</h3>
                                <h3>Leon Glicksman</h3>
                            </div>
                        </div>
                    </div>
                    <div id="nist">
                        <div class="row">
                            <img src="img/home/nist-home.png" class="credits">
                            <div class="span4 credits-left">
                                <h3>CONTAM</h3>
                            </div>
                            <div class="span4 credits-right">
                                <h3>Andrew Persily</h3>
                                <h3>Steven Emmerich</h3>
                                <h3>William Dols</h3>
                            </div>
                        </div>
                    </div>
                    <div id="nrel">
                        <div class="row">
                            <img src="img/home/nrel-home.png" class="credits">
                            <div class="span4 credits-left">
                                <h3>OPENSTUDIO</h3>
                            </div>
                            <div class="span4 credits-right">
                                <h3>Kyle Benne</h3>
                            </div>
                        </div>
                    </div>
                    <div id="psu">
                        <div class="row">
                            <img src="img/home/psu-home.png" class="credits">
                            <div class="span4 credits-left">
                                <h3>DAYSIM</h3>
                            </div>
                            <div class="span4 credits-right">
                                <h3>Richard Mistrick</h3>
                                <h3>Craig Casey</h3>
                                <h3>Reza Sadeghi</h3>
                            </div>
                            <div class="span4 credits-left">
                                <h3>COSTING</h3>
                            </div>
                            <div class="span4 credits-right">
                                <h3>Miao Niu</h3>
                                <h3>Tabitha Sprau Coulter</h3>
                            </div>
                            <div class="span4 credits-left">
                                <h3>CONTAM</h3>
                            </div>
                            <div class="span4 credits-right">
                                <h3>Jason W. DeGraw</h3>
                                <h3>William Bahnfleth</h3>
                            </div>
                            <div class="span4 credits-left">
                                <h3>RETROFIT MANAGER</h3>
                            </div>
                            <div class="span4 credits-right">
                                <h3>Zahira Alhafi</h3>
                                <h3>Ibrahim Alanqar</h3>
                                <h3>Yan Liusheng</h3>
                                <h3>Matthew G. Dahlhausen</h3>
                                <h3>Mohammad Heidarinejad</h3>
                                <h3>Yang-Seon Kim</h3>
                                <h3>Jin Bin Li</h3>
                                <h3>Mujing Wang</h3>
                                <h3>Josh Kuiros</h3>
                            </div>
                            <div class="span4 credits-left">
                                <h3>SIMULATION PLATFORM</h3>
                            </div>
                            <div class="span4 credits-right">
                                <h3>Nicholas W. Mattise</h3>
                            </div>
                            <div class="span4 credits-left">
                                <h3>ENERGY AUDIT iPAD APP</h3>
                            </div>
                            <div class="span4 credits-right">
                                <h3>Rob M Leicht</h3>
                                <h3>Matias Seibert</h3>
                            </div>
                        </div>
                    </div>
                    <div id="purdue">
                        <div class="row">
                            <img src="img/home/purdue-home.png" class="credits">
                            <div class="span4 credits-left">
                                <h3>FAST FLUID DYNAMICS</h3>
                            </div>
                            <div class="span4 credits-right">
                                <h3>Qingyan Chen</h3>
                            </div>
                        </div>
                    </div>
                    <div id="umd">
                        <div class="row">
                            <img src="img/home/maryland-home.png" class="credits">
                            <div class="span4 credits-left">
                                <h3>RETROFIT MANAGER</h3>
                            </div>
                            <div class="span4 credits-right">
                                <h3>Jelena Srebric</h3>
                            </div>
                        </div>
                    </div>
                    <div id="upenn">
                        <div class="row">
                            <img src="img/home/upenn-home.png" class="credits">
                            <div class="span4 credits-left">
                                <h3>PARAMETRIC ANALYSIS</h3>
                            </div>
                            <div class="span4 credits-right">
                                <h3>Ali Malkawi</h3>
                                <h3>Bin Yan</h3>
                            </div>
                        </div>
                    </div>
                    <div id="utrc">
                        <div class="row">
                            <img src="img/home/utrc-home.png" class="credits">
                            <div class="span4 credits-left">
                                <h3>DEEPRETRO ENGINE</h3>
                            </div>
                            <div class="span4 credits-right">
                                <h3>Russ Taylor</h3>
                                <h3>Marija Trcka</h3>
                                <h3>Stella Maris Oggianu</h3>
                            </div>
                            <div class="span4 credits-left">
                                <h3>UNCERTAINTY/RISK</h3>
                            </div>
                            <div class="span4 credits-right">
                                <h3>Sunil Ahuja</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="taskDiagram">
            <h2 style="text-align:center;padding-top:20px;">PROJECTS</h2>
            <h4 style="text-align:center;color:gray;">Task Structure</h4>
        
        
            <div class="tasks"></div>
        </div>
        <!--Scripts-->
        <script src="js/bootstrap.js"></script>
        <script src="js/d3.v3.min.js" charset="utf-8"></script>
        <script>
            var vennData = [{
                "cx": "33.3%",
                "cy": "33.3%",
                "radius": "25%",
                "radius1": "28%",
                "color": "rgba(0, 11, 93, 0.5)",
                "label": "Research Universities",
                "tx": "12.65%",
                "ty": "33.3%",
                "highlight": "#ri",
                "shadow": "rishadow"
            }, {
                "cx": "66.6%",
                "cy": "33.3%",
                "radius": "25%",
                "radius1": "28%",
                "color": "rgba(93, 0, 29, 0.5)",
                "label": "Industrial Firms",
                "tx": "62%",
                "ty": "33.3%",
                "highlight": "#ps",
                "shadow": "psshadow"
            }, {
                "cx": "50%",
                "cy": "66.6%",
                "radius": "25%",
                "radius1": "28%",
                "color": "rgba(0, 93, 18, 0.5)",
                "label": "National Labs",
                "tx": "42%",
                "ty": "72%",
                "highlight": "#nl",
                "shadow": "nlshadow"
            }, {
                "label": "HUB",
                "tx": "47.33%",
                "ty": "47.33%"
            }];

            var svgContainer = d3.select("div.venn").append("svg").attr("width", "100%").attr("height", "80%");

            var circles = svgContainer.selectAll("circles").data(vennData).enter().append("circle");

            var cenns = circles.attr("cx", function(d) {
                return d.cx;
            }).attr("cy", function(d) {
                return d.cy;
            }).attr("r", function(d) {
                return d.radius;
            }).style("fill", function(d) {
                return d.color;
            }).style("cursor", "pointer")

            .on("mouseover", function(d) {
                d3.select(this).transition().duration(500).attr("r", d.radius1);
                d3.selectAll(d.highlight).attr("class", d.shadow);
                                         

            }).on("mouseout", function(d) {
                d3.select(this).transition().duration(500).attr("r", d.radius);
                d3.selectAll(d.highlight).attr("class", "noshadow");
                
            });



            var text = svgContainer.selectAll("text").data(vennData).enter().append("text");
            var cricleLabels = text.attr("x", function(d) {
                return d.tx
            }).attr("y", function(d) {
                return d.ty
            }).text(function(d) {
                return d.label
            }).attr("font-size", "1.5em").attr("fill", "rgb(151, 151, 151)").style("cursor", "pointer");
            //text.attr("x", "47%").attr("y","45%" ).text("HUB");
        </script>
        <script type="text/javascript">
            var m = [30, 120, 30, 250],
                w = 1190 - m[1] - m[3],
                h = 800 - m[0] - m[2],
                i = 0,
                root;

            var tree = d3.layout.tree().size([h, w]);

            var diagonal = d3.svg.diagonal().projection(function(d) {
                return [d.y, d.x];
            });

            var vis = d3.select("div.tasks").append("svg:svg").attr("width", w + m[1] + m[3]).attr("height", h + m[0] + m[2]).append("svg:g").attr("transform", "translate(" + m[3] + "," + m[0] + ")");

            d3.json("task.json", function(json) {
                root = json;
                root.x0 = h / 2;
                root.y0 = 0;

                function toggleAll(d) {
                    if (d.children) {
                        d.children.forEach(toggleAll);
                        toggle(d);
                    }
                }

                // Initialize the display to show a few nodes.
                root.children.forEach(toggleAll);

                toggle(root.children[0]);
                toggle(root.children[1]);
                toggle(root.children[2]);
                toggle(root.children[3]);
                update(root);
            });

            function update(source) {
                var duration = d3.event && d3.event.altKey ? 5000 : 500;

                // Compute the new tree layout.
                var nodes = tree.nodes(root).reverse();

                // Normalize for fixed-depth.
                nodes.forEach(function(d) {
                    d.y = d.depth * 300;
                });

                // Update the nodes…
                var node = vis.selectAll("g.node").data(nodes, function(d) {
                    return d.id || (d.id = ++i);
                });

                // Enter any new nodes at the parent's previous position.
                var nodeEnter = node.enter().append("svg:g").attr("class", "node").attr("transform", function(d) {
                    return "translate(" + source.y0 + "," + source.x0 + ")";
                }).on("click", function(d) {
                    toggle(d);
                    update(d);
                });

                nodeEnter.append("svg:circle").attr("r", 1e-6).style("fill", function(d) {
                    return d._children ? "lightsteelblue" : "#fff";
                });

                nodeEnter.append("svg:text").attr("x", function(d) {
                    return d.children || d._children ? -10 : 10;
                }).attr("dy", ".35em").attr("text-anchor", function(d) {
                    return d.children || d._children ? "end" : "start";
                }).text(function(d) {
                    return d.name;
                }).style("fill-opacity", 1e-6);

                // Transition nodes to their new position.
                var nodeUpdate = node.transition().duration(duration).attr("transform", function(d) {
                    return "translate(" + d.y + "," + d.x + ")";
                });

                nodeUpdate.select("circle").attr("r", 8).style("fill", function(d) {
                    return d._children ? "lightsteelblue" : "#fff";
                });

                nodeUpdate.select("text").style("fill-opacity", 1);

                // Transition exiting nodes to the parent's new position.
                var nodeExit = node.exit().transition().duration(duration).attr("transform", function(d) {
                    return "translate(" + source.y + "," + source.x + ")";
                }).remove();

                nodeExit.select("circle").attr("r", 1e-6);

                nodeExit.select("text").style("fill-opacity", 1e-6);

                // Update the links…
                var link = vis.selectAll("path.link").data(tree.links(nodes), function(d) {
                    return d.target.id;
                });

                // Enter any new links at the parent's previous position.
                link.enter().insert("svg:path", "g").attr("class", "link").attr("d", function(d) {
                    var o = {
                        x: source.x0,
                        y: source.y0
                    };
                    return diagonal({
                        source: o,
                        target: o
                    });
                }).transition().duration(duration).attr("d", diagonal);

                // Transition links to their new position.
                link.transition().duration(duration).attr("d", diagonal);

                // Transition exiting nodes to the parent's new position.
                link.exit().transition().duration(duration).attr("d", function(d) {
                    var o = {
                        x: source.x,
                        y: source.y
                    };
                    return diagonal({
                        source: o,
                        target: o
                    });
                }).remove();

                // Stash the old positions for transition.
                nodes.forEach(function(d) {
                    d.x0 = d.x;
                    d.y0 = d.y;
                });
            }

            // Toggle children.
            function toggle(d) {
                if (d.children) {
                    d._children = d.children;
                    d.children = null;
                }
                else {
                    d.children = d._children;
                    d._children = null;
                }
            }
        </script>
        <script>
            $(function() {
                // when you click the link w/ a class of 'linkage'
                $('.psu').click(function() {

                    $('html, body').animate({
                        scrollTop: $("#psu").offset().top - 30
                    }, 1000);
                });
                $('.mit').click(function() {

                    $('html, body').animate({
                        scrollTop: $("#mit").offset().top - 30
                    }, 1000);
                });
                $('.cmu').click(function() {

                    $('html, body').animate({
                        scrollTop: $("#cmu").offset().top - 30
                    }, 1000);
                });
                $('.upenn').click(function() {

                    $('html, body').animate({
                        scrollTop: $("#upenn").offset().top - 30
                    }, 1000);
                });
                $('.umd').click(function() {

                    $('html, body').animate({
                        scrollTop: $("#umd").offset().top - 30
                    }, 1000);
                });
                $('.purdue').click(function() {

                    $('html, body').animate({
                        scrollTop: $("#purdue").offset().top - 50
                    }, 1000);
                });
                $('.eebhub').click(function() {

                    $('html, body').animate({
                        scrollTop: $("#eebhub").offset().top - 35
                    }, 1000);
                });
                $('.balfour').click(function() {

                    $('html, body').animate({
                        scrollTop: $("#balfour").offset().top - 30
                    }, 1000);
                });
                $('.utrc').click(function() {

                    $('html, body').animate({
                        scrollTop: $("#utrc").offset().top - 30
                    }, 1000);
                });
                $('.ibm').click(function() {

                    $('html, body').animate({
                        scrollTop: $("#ibm").offset().top - 30
                    }, 1000);
                });
                $('.nrel').click(function() {

                    $('html, body').animate({
                        scrollTop: $("#nrel").offset().top - 30
                    }, 1000);
                });
                $('.nist').click(function() {

                    $('html, body').animate({
                        scrollTop: $("#nist").offset().top - 30
                    }, 1000);
                });
                $('.doe').click(function() {

                    $('html, body').animate({
                        scrollTop: $("#doe").offset().top - 50
                    }, 1000);
                });
            });
        </script>
    </body>

</html>