<!doctype html>
<html ng-app>
    
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    </head>
    
    <body>
        <form action="/testpost" method="post">
            <div>
                <label>Name:</label>
                <input type="text" ng-model="yourName" placeholder="Enter a name here"
                name="name">
                <hr>
                <h1>Hello {{yourName}}!</h1>
                
                    <input type="range" ng-model="winwall" name="size"
                    min="0" max="40" step="1" value=50/>
                    <div class="input-append">
                        <input class="span1" type="text" value={{winwall}} ng-model="winwall"
                        />
                        <span class="add-on">%</span>
                    </div>
                
            </div>
            <input type="submit" value="Run">
        </form>
    </body>

</html>