<!DOCTYPE html>
<html>
    
    <head>
        <title>EEB Hub Simulation Platform Visitors</title>
        <!--<meta http-equiv="refresh"
        content="0; url=http://tools.eebhub.org/lite"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
        <link rel="icon" href="img/favicon.ico" type="image/x-icon">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/stylesheet.css" rel="stylesheet">
        <link href="css/bootstrap-responsive.min.css" rel="stylesheet">
        <style type="text/css">
            body {
                padding-top: 60px;
                padding-bottom: 40px;
                background-color: rgb(14, 15, 16);
            }
            .white{
                color:white;
            }
            img{
                width:100%;
            }
        </style>
    </head>
    
    <body data-spy="scroll" data-target="#sidebar">
        <h1 class="text-center white">Visitors Dashboard</h1>
        <h1 class="text-center white"><small>September 2013 - Feburary 2014 Summary</small></h1>
        <br>
        <div class="row-fluid">
            <div class="span10 offset1 pagination-centered">
            <img src="img/visitors-summary.png" class="img-rounded">
            </div>
        </div>
        <br/>
        <h1 class="text-center white"><small>December 17, 2013 Snapshot</small></h1>
        <div class="row-fluid">
            <div class="span10 offset1 pagination-centered">
            <img src="img/visitors-geckoboard.jpg" class="img-rounded">
            </div>
        </div>
        <h1 class="text-center white"><small><a href="http://www.geckoboard.com">powered by Geckoboard</a></small></h1>
        <!-- Intro -->
        <!-- Javascript -->
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-26348074-7', 'eebhub.org');
          ga('send', 'pageview');
        
        </script>
    </body>
</html>