/*HOME SECTIONS*/


.tagline {
    padding-top: 90px;
    padding-bottom: 35px;
    color:rgb(20, 20, 20);

  }
  .levels {
    /*background:rgb(229, 229, 229);*/
    padding-top:25px;
    padding-bottom:85px;
    color:rgb(51, 51, 51);
    /*-moz-box-shadow: 0 4px 4px #999;*/
    /*-webkit-box-shadow: 0 4px 4px #999;*/
    /*box-shadow: 0 4px 4px #999;*/
   
}
.about {
    background:rgb(51, 51, 51);
    /*background: rgba(78, 179, 211, 0.70);*/
    padding-top: 50px;
    padding-bottom: 50px;
    color: rgb(160, 160, 160);
    /*-moz-box-shadow: 0 4px 4px #999;*/
    /*-webkit-box-shadow: 0 4px 4px #999;*/
    /*box-shadow: 0 4px 4px #999;*/
}
.learn {
    background:rgb(223, 223, 223);
    /*background: rgba(241,150,112,1);*/
    padding-top: 50px;
    padding-bottom: 60px;
    color: rgb(51, 51, 51);
    /*-moz-box-shadow: 0 4px 4px #999;*/
    /*-webkit-box-shadow: 0 4px 4px #999;*/
    /*box-shadow: 0 4px 4px #999;*/
    }
.subscribe {
    background: rgb(51, 51, 51);
    padding-top: 50px;
    padding-bottom: 50px;
    color: rgb(160, 160, 160);
     /*-moz-box-shadow: 0 4px 4px #999;*/
    /*-webkit-box-shadow: 0 4px 4px #999;*/
    /*box-shadow: 0 4px 4px #999;*/
}
 .collaborate {
    /*background: rgba(116,196,147,0.7);*/
    padding-top: 50px;
    padding-bottom: 50px;
    color:rgb(51, 51, 51);
   /*-moz-box-shadow: 0 4px 4px #999;*/
    /*-webkit-box-shadow: 0 4px 4px #999;*/
    /*box-shadow: 0 4px 4px #999;*/
}
.contact {
    padding-top: 50px;
    padding-bottom: 20px;
    color:rgb(51, 51, 51);
    /*-moz-box-shadow: 0 4px 4px #999;*/
    /*-webkit-box-shadow: 0 4px 4px #999;*/
    /*box-shadow: 0 4px 4px #999;*/
} 
.team {
    background: rgb(51, 51, 51);
    padding-top: 25px;
    padding-bottom: 25px;
    color: rgb(160, 160, 160);
     /*-moz-box-shadow: 0 4px 4px #999;*/
    /*-webkit-box-shadow: 0 4px 4px #999;*/
    /*box-shadow: 0 4px 4px #999;*/
}
.team-image{
  width: 100%;
  z-index: 0;
}

.aboutus {
    /*color: #000;*/
    display: table;
    /*height: 400px;*/
    width: 100%;
    background: url(../img/task2-slim.jpg) no-repeat center center fixed; 
    background-position:right;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*-moz-box-shadow:inset 0 4px 4px rgba(0, 0, 0, 0.4);*/
    /*-webkit-box-shadow:inset 0 4px 4px rgba(0, 0, 0, 0.4);*/
    /*box-shadow:inset 0 4px 4px rgba(0, 0, 0, 0.4);*/
}
.institutions {
    background: rgb(51, 51, 51);
    padding-top: 25px;
    padding-bottom: 25px;
    color: rgb(160, 160, 160);
    /*-moz-box-shadow:inset 0 4px 4px rgba(0, 0, 0, 0.4);*/
    /*-webkit-box-shadow:inset 0 4px 4px rgba(0, 0, 0, 0.4);*/
    /*box-shadow:inset 0 4px 4px rgba(0, 0, 0, 0.4);*/
}
.institutions .grey {
    -webkit-filter: grayscale(1);
    -ms-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    width:130px;
}

.bottom {
    position:relative;
    top:265px;
}

h1.bottom {
    top:240px;
}

.nogrey{
    
}

.learn button {
    position:relative;
    right:45%;
}
      
.nav-signin {
    float:right;
    }
.gray {
    color:rgb(160, 160, 160);
}

.gray-small {
    font-size:small;
    color:rgb(160, 160, 160);
}

.house-center {
    display: block; 
    width: 130px;
    margin: 0 auto;
}

.house-left {
    display: block; 
    width: 100px; 
}
.house-right {
    display: block; 
    width: 100px; 
    float: right;
    
}

/*Lite*/

.up-triangle-lite {
   width: 0; 
   height: 0; 
   border-bottom: 45px solid rgb(186, 201, 51); 
   border-left: 50px solid transparent; 
   border-right: 50px solid transparent; 
   
}
.square-lite {
   width: 100px; 
   height: 80px; 
   background: rgb(186, 201, 51); 
}

.up-triangle-lite-small {
   width: 0; 
   height: 0; 
   border-bottom: 11.25px solid rgb(186, 201, 51); 
   border-left: 12.5px solid transparent; 
   border-right: 12.5px solid transparent; 
   margin-left: auto;
}
.square-lite-small {
   width: 25px; 
   height: 20px; 
   background: rgb(186, 201, 51); 
   margin-left: auto;
}
/*Partial*/
.up-triangle-partial {
   width: 0; 
   height: 0; 
   border-bottom: 45px solid rgb(161, 188, 103); 
   border-left: 50px solid transparent; 
   border-right: 50px solid transparent; 
}
.square-partial {
   width: 100px; 
   height: 80px; 
   background: rgb(161, 188, 103); 
}
.up-triangle-partial-small {
   width: 0; 
   height: 0; 
   border-bottom: 22.5px solid rgb(161, 188, 103); 
   border-left: 25px solid transparent; 
   border-right: 25px solid transparent; 
}
.square-partial-small {
   width: 50px; 
   height: 40px; 
   background: rgb(161, 188, 103); 
}
/*Substantial*/
.up-triangle-substantial {
   width: 0; 
   height: 0; 
   border-bottom: 45px solid rgb(135, 174, 154); 
   border-left: 50px solid transparent; 
   border-right: 50px solid transparent; 
}
.square-substantial {
   width: 100px; 
   height: 80px; 
   background: rgb(135, 174, 154); 
}
.up-triangle-substantial-small {
   width: 0; 
   height: 0; 
   border-bottom: 11.25px solid rgb(135, 174, 154); 
   border-left: 12.5px solid transparent; 
   border-right: 12.5px solid transparent; 
}
.square-substantial-small {
   width: 25px; 
   height: 20px; 
   background: rgb(135, 174, 154); 
}
/*Comprehensive*/
.up-triangle-comprehensive {
   width: 0; 
   height: 0; 
   border-bottom: 45px solid rgb(45, 149, 143); 
   border-left: 50px solid transparent; 
   border-right: 50px solid transparent; 
}
.square-comprehensive {
   width: 100px; 
   height: 80px; 
   background: rgb(45, 149, 143); 
}