<!DOCTYPE html>
<html>
    
    <head>
        <title>EEB Hub Simulation Platform Tools</title>
        <!--<meta http-equiv="refresh"
        content="0; url=http://tools.eebhub.org/platform/lite.html"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <link href="../css/stylesheet.css" rel="stylesheet">
        <link href="../css/bootstrap-responsive.min.css" rel="stylesheet">
        <style type="text/css">
            body {
                padding-top: 60px;
                padding-bottom: 40px;
                background-color: rgb(229, 229, 229);
                
            }
        </style>
    </head>
    
    <body data-spy="scroll" data-target="#sidebar">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="/platform/">EEB Hub Simulation Platform</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li>
                                <a href="lite">Lite</a>
                            </li>
                            <li>
                                <a href="partial">Partial</a>
                            </li>
                            <li>
                                <a href="substantial">Substantial</a>
                            </li>
                            <li><a href="comprehensive">Comprehensive</a></li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <br/>
        <h1 class="text-center">Simulate building energy online.</h1>
        <br/>
        <hr/>
        <br/>
        <div class="row-fluid">
            <div class="span3">
                <h3 class="text-center">Lite</h3>
                <span class="house-center"><a href="lite.html">
                <div class="up-triangle-lite"></div>
                <div class="square-lite"></div>
                </a></span>
                <h6 class="text-center gray-small">utility bills</h6>
                <h6 class="text-center gray-small">backward modeling</h6>
                <h5 class="text-center">for building owners</h5>
            </div>
            <div class="span3">
                <h3 class="text-center">Partial</h3>
                <span class="house-center"><a href="partial.html">
                <div class="up-triangle-partial"></div>
                <div class="square-partial"></div>
                </a></span>
                <h6 class="text-center gray-small">shape of building</h6>
                <h6 class="text-center gray-small">backward & forward</h6>
                <h5 class="text-center">for building designers</h5>
            </div>
            <div class="span3">
                <h3 class="text-center">Substantial</h3>
                <span class="house-center"><a href="partial.html">
                <div class="up-triangle-substantial"></div>
                <div class="square-substantial"></div>
                </a></span>
                <h6 class="text-center gray-small">shape of building</h6>
                <h6 class="text-center gray-small">forward modeling</h6>
                <h5 class="text-center">for building auditors</h5>
            </div>
            <div class="span3">
                <h3 class="text-center">Comprehensive</h3>
                <span class="house-center"><a href="comprehensive.html">
                <div class="up-triangle-comprehensive"></div>
                <div class="square-comprehensive"></div>
                </a></span>
                <h6 class="text-center gray-small">import 3D geometry</h6>
                <h6 class="text-center gray-small">complex forward modeling</h6>
                <h5 class="text-center">for building analysts</h5>
            </div>
        </div>
        <br/>
        <hr/>
        <br/>
        <h2 class="text-center">What is a simulation platform?</h2>
        <div class="pagination-centered"><img src="../img/simulation.png" alt="simulation" /></div>
        <h4 class="text-center">a SIMULATION is a technique of representing the real world with the virtual world</h4>
        <br/>
        <div class="pagination-centered"><img src="../img/cloud.png" alt="cloud" /></div>
        <h4 class="text-center">the PLATFORM includes server hardware, a cloud operating system, & a suite of interconnected software tools</h4>
        <br/>
        <div class="pagination-centered"><img src="../img/buildings.png" alt="buildings" /></div>
        <h4 class="text-center">Building industry stakeholders will be empowered to make informed decisions on how to reduce energy consumption in buildings. </h4>
        <h4 class="text-center">The EEB HUB is pioneering the web tool to make this possible, proven, & easy.</h4>
        <br/>
        <hr/>
        <br/>
        <h5 class="text-center">Built by the <a href="http://www.eebhub.org">Energy Efficient Buildings HUB</a>, a <a href="http://energy.gov/science-innovation/innovation/hubs">U.S. Department of Energy Innovation HUB</a>.</h5>
        <h5 class="text-center">Our simulation & modeling team includes PSU, MIT, CMU, IBM, UPenn, UTRC, NREL, & NIST. &#8194;<a href="http://simulation.eebhub.org">Learn More.</a></h5>

        <!-- Intro -->
        <!-- Javascript -->
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="../js/bootstrap.min.js"></script>
    </body>

</html>